<template>
  <rail class="container" :showLeft="!true" />
  <div class="order-airWrap pt20" v-if="orderInfo">
    <section class="order-content">
      <div class="order-header df fjc-sb fai-c">
        <div class="df fd-c">
          <span>
            <strong class="fs24 text-title">{{{ 1: "Paid", 2: "completed", 3: "Cancelled" }[orderInfo.state]}} </strong
            >
          </span>
          <span class="fs14 mt5"
            ><u class="text-info">flight number：</u> {{ orderInfo.bookingNumber }}</span
          >
        </div>
        <div class="order-price">
          <span>Total cost：</span><strong class="text-danger">${{orderInfo.priceSum}}</strong>
        </div>
      </div>
      <div class="order-plane mt20">
        <el-card shadow="never" :body-style="{ padding: '20px' }">
          <template #header>
            <div>
              <strong>{{ orderInfo.departureCity }}</strong>
              <i class="el-icon-right text-primary"></i>
              <strong>{{ orderInfo.destinationCity }}</strong>
              <small class="text-info ml30">{{ flyTime }}</small>
            </div>
          </template>
          <section class="order-plane-box df fd-c">
            <strong class="fs14">{{ startTime }}</strong>
            <div class="order-plane-content mt10 df">
              <div class="flex-1 df">
                <div class="df fd-c fjc-sb">
                  <time datetime="19:50">{{
                    formatDate(orderInfo.departureTime, "hh:mm")
                  }}</time>
                  <time datetime="22:05">{{
                    formatDate(orderInfo.destinationTime, "hh:mm")
                  }}</time>
                </div>
                <div class="order-plane-place ml20 pl15 df fd-c fjc-sb">
                  <p>
                    <strong>{{ orderInfo.departureCity }} </strong>
                    <span class="ml10">{{ orderInfo.departureName }}</span>
                  </p>
                  <small class="text-info fs12">flight {{ flyTime }}</small>
                  <p>
                    <strong>{{ orderInfo.destinationCity }} </strong>
                    <span class="ml10">{{ orderInfo.destinationName }}</span>
                  </p>
                </div>
              </div>
              <div class="order-plane-info ml100 flex-2 df fd-c">
                <span> {{orderInfo.airlineName}} - {{ orderInfo.flightNumber }}</span>
                <small class="fs13 text-info mt10">{{
                  ["", "First", "Economy"][orderInfo.seat]
                }}</small>
              </div>
            </div>
          </section>
        </el-card>
        <el-card class="mt20" shadow="never" :body-style="{ padding: '20px' }">
          <template #header>
            <strong>Pedestrian information</strong>
          </template>
          <div
            v-for="(item, index) in orderInfo.certificateList"
            :key="index"
            class="df fd-c mb10"
          >
            <p class="df fs14">
              <span class="flex-1">{{ item.passengerName }}</span>
              <span class="flex-1">adult</span>
              <span class="flex-2">
                <u class="text-info">ID card：</u>{{ item.certificateNum }}
              </span>
            </p>
            <p class="df fs14">
              <span class="flex-1"><u class="text-info">TEL：</u>{{item.passengersTelephone}}</span>
              <span class="flex-1"
                ><u class="text-info">birthday：</u
                >{{ getBirthday(item.certificateNum) }}</span
              >
              <span class="flex-2"> <u class="text-info">Vote number：</u>999-2138172617 </span>
            </p>
          </div>
        </el-card>
        <el-card class="mt20" shadow="never" :body-style="{ padding: '20px' }">
          <template #header>
            <strong>contact information</strong>
          </template>
          <section class="df">
            <div class="df fd-c flex-1">
              <strong>Contact</strong>
              <span class="mt10 fs14">{{
                orderInfo.certificateList[0].passengerName
              }}</span>
            </div>

            <div class="df fd-c flex-1">
              <strong>contact details</strong>
              <span class="mt10 fs14">{{
                orderInfo.certificateList[0].passengersTelephone
              }}</span>
            </div>
          </section>
        </el-card>
        <el-card class="mt20" shadow="never" :body-style="{ padding: '20px' }">
          <template #header>
            <strong>Travel reminder</strong>
          </template>
          <section class="df fd-c fs12">
            <p>1)Do not bring a lithium battery such as dangerous goods</p>
            <p class="mt5">2)Validity period, travel and security prompt</p>
          </section>
        </el-card>
      </div>
    </section>
  </div>
</template>

<script>
import { inject, ref, computed } from "vue";
import { useRoute } from "vue-router";
import { formatDate, tools } from "../../utils";
export default {
  setup() {
    const $http = inject("http");
    const {
      params: { id: bookingId }
    } = useRoute();
    const orderInfo = ref(null);
    $http.QUERY_ORDER_SINGLE({ bookingId }).then((res) => {
      orderInfo.value = res;
    });
    const flyTime = computed(() => {
      return tools.timeDifference(orderInfo.value.destinationTime,orderInfo.value.departureTime);
    });
    const startTime = computed(() => {
      return (
        formatDate(orderInfo.value.departureTime) +
        "  " +
        ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'][new Date(orderInfo.value.departureTime).getDay()]
      );
    });
    const getBirthday = (UUserCard) => {
      return (
        UUserCard.substring(6, 10) +
        "-" +
        UUserCard.substring(10, 12) +
        "-" +
        UUserCard.substring(12, 14)
      );
    };
    return {
      orderInfo,
      flyTime,
      startTime,
      formatDate,
      getBirthday
    };
  }
};
</script>

<style lang="scss" scoped>
.order- {
  &plane- {
    &content {
      min-height: 100px;
      max-width: 1200px;
    }
    &place {
      position: relative;
      &::before {
        width: 3px;
        content: "";
        height: 80%;
        top: 10%;
        background: #e0e0e0;
        position: absolute;
        left: 0;
      }
    }
  }
  &content {
    width: 1024px;
    margin: auto;
    min-height: 95vh;
  }
}
.text-title {
  color: #666;
}
</style>
