<template>
  <div class="control df">
    <el-container>
      <el-header>
      <img class="control-bg" src="/@/assets/filght_bg.jpg" alt="" />
        <header class="df res">
          <span class=" fs24 ml100">Aviation Management Platform</span>
          <div class="flex-1 df fai-c fjc-fe">
                <img v-if="sex === 2" class="avatar pointer" src="../../assets/girl.png" />
                <img v-else class="avatar pointer" src="../../assets/boy.png" />
            <span class="ml10">{{ customerName || "xxx" }}，</span>
            <el-button type="text" class="pointer text-link" @click="onLogout">Exit</el-button>
          </div>
        </header>
      </el-header>
      <el-container>
        <el-aside width="200px">
          <el-menu
            class="h_100"
            @select="handleSelect"
            :collapse="isCollapse"
            :default-active="activeComp"
          >
            <el-menu-item index="user">
              <i class="el-icon-user-solid" />
              <span>User control</span>
            </el-menu-item>
            <el-submenu index="">
              <template #title>
                <i class="el-icon-s-promotion" />
                <span>Airline control</span>
              </template>
              <el-menu-item index="airline">
                <img src="./../../assets/icon/airline.png" alt="" class="icon">
                Airline</el-menu-item>
              <el-menu-item index="airport">
                <img src="./../../assets/icon/airport.png" alt="" class="icon">
                Airport</el-menu-item>
              <el-menu-item index="flight">
                <img src="./../../assets/icon/flight.png" alt="" class="icon">Flight </el-menu-item>
              <el-menu-item index="mileage">
                <img src="./../../assets/icon/mileage.png" alt="" class="icon">Mileage </el-menu-item>
              <el-menu-item index="orderInfo">
                <img src="./../../assets/icon/orderlist.png" alt="" class="icon">OrderList</el-menu-item>
            </el-submenu>
          </el-menu>
        </el-aside>
        <el-main>
          <component :is="activeComp" />
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import { reactive, toRefs, computed } from "vue";
import { user, flight, airline, airport, mileage, orderInfo } from "./common";
import { useRoute, useRouter } from "vue-router";
import { tools } from "../../utils";
import { useStore } from 'vuex';

export default {
  components: { user, flight, airline, airport, mileage, orderInfo },
  setup() {
    const {
      params: { type }
    } = useRoute();
    const { customerName, sex } = tools.getUserInfo();
    const router = useRouter();

    const state = reactive({
      isCollapse: false,
      activeComp: type
    });

    const handleSelect = (key) => {
      state.activeComp = key;
      router.replace(`/control/${key}`);
    };
    const onLogout = tools.logout
    return {
      ...toRefs(state),
      handleSelect,
      customerName,
      sex,
      onLogout
    };
  }
};
</script>

<style lang="scss" scoped>
.icon{
  width: 18px;
  margin-right: 5px;
}
.control {
  height: 100vh;
  &-bg{
    filter: grayscale(0.8) opacity(0.15) blur(1px);
    height: 62px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
  }
}
.el-header,
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 60px;
}
.el-aside {
  background-color: #fff;
}
.el-main {
  background-color: #e9eef3;
}
.h_100 {
  height: 100%;
}
:deep(.el-submenu.is-active:not(.is-opened)) {
  .el-submenu__title,
  i {
    color: #409eff;
  }
}
:deep(.el-avatar > img) {
  width: 100%;
}
.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c0c4cc;
}
</style>
