<template>
  <el-table
    :data="data"
    size="medium"
    :headerCellStyle="{ backgroundColor: '#eee' }">
    <el-table-column v-if="showIndex" :type="headers.length?'index':''" align="center" :index="indexMethod" />
    <template v-for="(col, idx) in headers" :key="idx">
      <el-table-column
        :label="col.label"
        :width="col.width"
        :prop="col.prop"
        :formatter="col.formatter"
        :align="col.align||'center'">
        <template  #default="scope" v-if="col.slot">
          <slot :name="col.slot" :data="scope"></slot>
        </template>
        <template  #default="scope" v-else-if="col.prop === 'actions'">
          <el-button type="success" size="mini" icon="el-icon-edit" @click="onEdit(scope)">Edit</el-button>
          <el-button type="danger" size="mini" icon="el-icon-delete" :disabled="col.delDisabled && col.delDisabled(scope.row)" @click="onDelete(scope)">Delete</el-button>
        </template>
      </el-table-column>
    </template>
  </el-table>
</template>

<script>
import { reactive, toRefs } from 'vue';
export default {
  name: 'Table',
  props: {
    showIndex: {
      type: Boolean,
      default: true
    },
    headers: {
      type: Array,
      default: []
    },
    data: {
      type: Array,
      default: []
    },
    indexMethod: {
      type: Function,
      default: (index) => index + 1
    }
  },
  setup(_, { emit }) {
    const state = reactive({});

    const methods = {
      onEdit({ row, column, $index }) {
        emit('edit', { row, column, index: $index })
      },
      onDelete({ row, column, $index }) {
        emit('delete', { row, column, index: $index });
      },
      analyseFormat(fun, data) {
        const { row, column, cellValue, index } = data;
        fun(row, column, cellValue, index);
      }
    };

    return {
      ...toRefs(state),
      ...methods,
    };
  },
}
</script>

<style scoped>
.el-table {
  border: 1px solid rgb(235, 238, 245);
}
</style>