<template>
  <div>
    <div class="rail-bg" />
    <div class="rail df fjc-sb fai-c res">
      <ul class="group df">
        <li class="item" v-for="(t, i) in leftRouter" :key="i">
          <span class="pointer" @click="toRouter(t.path)">
            <i :class="t.icon" class="mr5" />{{ t.label }}
          </span>
        </li>
      </ul>
      <ul class="group df fai-c">
        <template v-if="customerId">
          <li class="item">
            <el-popover popper-class="user-popper" :width="156" trigger="hover" placement="bottom" >
              <template #reference>
                <img v-if="sex === 2" class="avatar pointer" src="../assets/girl.png" />
                <img v-else class="avatar pointer" src="../assets/boy.png" />
              </template>
              <div class="df fd-c">
                <span v-for="(t, i) in userRouter" :key="i" class="pointer fs18 pa5" @click="toRouter(t.path)">
                  <i :class="t.icon" class="mr8" />{{ t.label }}
                </span>
              </div>
            </el-popover>
          </li>
          <li class="item">
            <span class="pointer" @click="logout">Exit</span>
          </li>
        </template>
        <li class="item" v-else>
          <p>
            Please<span class="btn pointer" @click="toRouter('/login')">login</span >
            or<span class="btn pointer" @click="toRouter('/register')">free registration</span >
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { computed, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import { tools } from "../utils";

export default {
  name: "Rail",
  props: {
    showLeft: false
  },
  setup() {
    const store = useStore();

    const routes = {
      leftRouter: [
        { label: "Home", icon: 'el-icon-s-home', path: "/home" },
        { label: "Ticket reservation", icon: 'el-icon-s-promotion', path: "/booking" },
        { label: "Flight schedule", icon: 'el-icon-search', path: "/flight" },
        { label: "Trip recorder", icon: 'el-icon-tickets', path: "/user?type=order" }
      ],
      userRouter: [
        { label: "UserInfo", icon: 'el-icon-user', path: "/user?type=info" },
        { label: "Credit card", icon: 'el-icon-bank-card', path: "/user?type=creditCard" },
        { label: "Address", icon: 'el-icon-map-location', path: "/user?type=address" },
        { label: "Payment", icon: 'el-icon-s-finance', path: "/user?type=order" }
      ]
    };

    const customerId = computed((_) => store.state.userInfo.customerId);
    const sex = computed((_) => store.state.userInfo.sex);

    const toRouter = (link, auth) => {
      if (auth && !customerId) link = "/login";
      tools.routerPush(link);
    };

    const logout = tools.logout

    return {
      ...routes,
      customerId,
      sex,
      toRouter,
      logout
    };
  }
};
</script>

<style>
.user-popper {
  min-width: 0 !important;
}
</style>

<style lang="scss" scoped>
.rail {
  height: 62px;
  &-bg {
    background: url("./../assets/filght_bg.jpg") no-repeat 0 44%/cover;
    filter: grayscale(0.8) opacity(0.15) blur(1px);
    height: 62px;
    width: 100%;
    position: absolute;
    right: 0;
  }
}
.item {
  font-size: 20px;
  line-height: 24px;
  padding: 0 10px;
  border-left: 1px solid #e9e9e9;
  &:first-child {
    padding-left: 0;
    border-left: none;
  }
  &:last-child {
    padding-right: 0;
  }
  .btn {
    padding: 0 5px;
    color: #409eff;
  }
}
.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c0c4cc;
}
</style>
