<template>
  <div class="airline df fd-c h_100">
    <div class="search df fjc-sb fai-c">
      <div class="search-input df fw-w">
        <el-input
          v-model="query.airlineName"
          clearable
          size="small"
          placeholder="please enter name"
        />
        <el-input
          v-model="query.airlineCode"
          clearable
          size="small"
          placeholder="please enter code"
        />
        <el-button type="primary" size="small" @click="getTableData">search</el-button>
      </div>
      <el-button type="primary" size="small" @click="handleFormDia">add</el-button>
    </div>
    <div class="table flex-1 mt10 pa20">
      <Table
        :headers="headers"
        :data="tableData"
        @edit="handleFormDia"
        @delete="delAirline"
      >
      </Table>
      <div class="ma10 tc">
        <Pagination
          :total="paging.total"
          v-model:pageSize="paging.pageSize"
          v-model:currentPage="paging.pageNum"
          @paginationChange="getTableData"
        />
      </div>
    </div>

    <el-dialog
      v-model="showAddDialog"
      :width="500"
      :title="form.airlineId ? 'edit' : 'add'"
    >
      <el-form
        ref="diaForm"
        :model="form"
        size="small"
        label-opsition="right"
        :rules="rules"
        label-width="120px"
      >
        <el-form-item label="name:" prop="airlineName">
          <el-input v-model="form.airlineName"></el-input>
        </el-form-item>
        <el-form-item label="code:" prop="airlineCode">
          <el-input v-model="form.airlineCode"></el-input>
        </el-form-item>
        <el-form-item label="country:" prop="country">
          <el-input v-model="form.country"></el-input>
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button size="small" @click="showAddDialog = false" :disabled="adding"
          >cancel</el-button
        >
        <el-button
          size="small"
          type="primary"
          @click="submitForm"
          :disabled="adding"
          :loading="adding"
          >confirm</el-button
        >
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { inject, onMounted, reactive, toRefs, ref } from "vue";
import { ElMessage, ElMessageBox } from "element-plus";

export default {
  setup() {
    const $http = inject("http");

    const headers = [
      { label: "name", prop: "airlineName" },
      { label: "code", prop: "airlineCode" },
      { label: "country", prop: "country" },
      { label: "actions", prop: "actions", width: 200 }
    ];

    const state = reactive({
      query: {},
      tableData: [],
      paging: { total: 0, pageNum: 1, pageSize: 10 },
      showAddDialog: false,
      form: {},
      rules: {
        airlineName: [{ required: true, message: "please enter name", trigger: "blur" }],
        airlineCode: [{ required: true, message: "please enter code", trigger: "blur" }],
        country: [{ required: true, message: "please enter country", trigger: "blur" }]
      },
      adding: false
    });

    onMounted((_) => {
      getTableData();
    });

    async function getTableData() {
      const data = { ...state.paging, ...state.query };
      const { list, total } = await $http.getAirlineList(data);
      state.tableData = list;
      state.paging.total = total;
    }

    function handleFormDia({ row }) {
      state.form = { ...row };
      state.showAddDialog = true;
    }

    const diaForm = ref(null);
    function submitForm() {

      diaForm.value.validate(async (valid) => {
        if (valid) {
          state.adding = true;
          if (state.form.airlineId) editAirline();
          else addAirline();
        }
      });
    }

    function addAirline() {
      $http
        .addAirline(state.form)
        .then((_) => {
          state.adding = false;
          state.showAddDialog = false;
          getTableData();
          ElMessage.success("add airlines successful!");
        })
        .catch((_) => (state.adding = false));
    }

    function editAirline() {
      $http
        .editAirline(state.form)
        .then((_) => {
          state.adding = false;
          state.showAddDialog = false;
          ElMessage.success("update airlines successful!");
          getTableData();
        })
        .catch((_) => (state.adding = false));
    }

    function delAirline({ row }) {
      ElMessageBox.confirm("Are you sure to delete this airline?", "hint", {
        confirmButtonText: "delete",
        cancelButtonText: "cancel",
        type: "warning"
      })
        .then(() => {
          $http.delAirline({ airId: row.airlineId }).then((_) => {
            ElMessage.success("delete airlines successful!");
            getTableData();
          });
        })
        .catch(() => {});
    }

    return {
      headers,
      ...toRefs(state),
      getTableData,
      handleFormDia,
      submitForm,
      addAirline,
      editAirline,
      delAirline,
      diaForm
    };
  }
};
</script>

<style lang="scss" scoped>
.search,
.table {
  border-radius: 4px;
  background: #fff;
}
.search {
  padding: 10px 20px;
  min-height: 52px;
  &-input {
    width: 850px;
    .el-input {
      width: 180px;
      margin-right: 10px;
    }
  }
}
</style>
