<template>
  <div class="df fd-c h_100">
    <div class="search df fjc-sb fai-c">
      <div class="search-input df fw-w">
        <el-input v-model="query.airportName" clearable size="small" placeholder="Please enter the airport name" />
        <el-input v-model="query.airportTelephone" clearable size="small" placeholder="Please enter the airport phone" />
        <el-input v-model="query.IATA" size="small" clearable placeholder="Please enter the airport code" />
        <el-button type="primary" size="small" @click="getTableData">search</el-button>
      </div>
      <el-button type="primary" size="small" @click="handleFormDia">add</el-button>
    </div>
    <div class="table flex-1 mt10 pa20">
      <Table
        :headers="headers"
        :data="tableData"
        @edit="handleFormDia"
        @delete="delAirport"
      >
        <template #adr="{ data: { row: { country, state, city, addrDetail1, addrDetail2 } } }" >
          <div class="df fd-c fai-fs">
            <address>{{ country }} {{ state }} {{ city }}</address>
            <small class="text-info">address 1:{{ addrDetail1 }}</small>
            <small class="text-info">address 2:{{ addrDetail2 }}</small>
          </div>
        </template>
      </Table>
      <div class="ma10 tc">
        <Pagination
          :total="paging.total"
          v-model:pageSize="paging.pageSize"
          v-model:currentPage="paging.pageNum"
          @paginationChange="getTableData"
        />
      </div>
    </div>
  </div>
  <el-dialog
    v-model="showDialog"
    title="add/edit airport info"
    :width="600"
    :showClose="false"
    :close-on-click-modal="false"
  >
    <el-form
      :model="airportForm"
      :rules="rules"
      size="mini"
      ref="formDom"
      label-width="120px"
      class="demo-airportForm"
    >
      <el-form-item label="airport code" prop="iata">
        <el-input v-model="airportForm.iata"></el-input>
      </el-form-item>
      <el-form-item label="airport name" prop="airportName">
        <el-input v-model="airportForm.airportName"></el-input>
      </el-form-item>
      <el-form-item label="airport phone" prop="airportTelephone">
        <el-input v-model="airportForm.airportTelephone"></el-input>
      </el-form-item>
      <el-form-item label="airport address" prop="area">
      <el-radio-group v-model="airportForm.isDomestic">
        <el-radio :label="1">inland</el-radio>
        <el-radio :label="2">international</el-radio>
      </el-radio-group>
      <el-input class="mt5" v-model="airportForm.area[0]" placeholder="Please enter country" clearable></el-input>
      <el-input class="mt5" v-model="airportForm.area[1]" placeholder="Please enter province" clearable></el-input>
      <el-input class="mt5" v-model="airportForm.area[2]" placeholder="Please enter urban area" clearable></el-input>
      </el-form-item>
      <el-form-item label="address-1" prop="addrDetail1">
        <el-input type="textarea" v-model="airportForm.addrDetail1"></el-input>
      </el-form-item>
      <el-form-item label="address-2" prop="addrDetail2">
        <el-input type="textarea" v-model="airportForm.addrDetail2"></el-input>
      </el-form-item>
    </el-form>

    <template #footer>
      <el-button size="mini" @click="showDialog = false" :disabled="adding"
        >cancel</el-button
      >
      <el-button
        size="mini"
        type="primary"
        @click="onSave"
        :disabled="adding"
        :loading="adding"
        >confirm</el-button
      >
    </template>
  </el-dialog>
</template>

<script>
import { inject, onMounted, reactive, toRefs, ref } from "vue";
import { ElMessage } from "element-plus";
import { tools } from '../../../utils';

export default {
  setup() {
    const $http = inject("http");

    const headers = [
      { label: "airport name", prop: "airportName" },
      { label: "airport phone", prop: "airportTelephone" },
      { label: "airport code", prop: "iata" },
      { label: "airport address", slot: "adr" },
      { label: "actions", prop: "actions", width: 200 }
    ];
    const formatDistricts = (data = []) => {
      return data.map((item) => {
        item.leaf = item.districts.length === 0;
        if (item.districts) {
          formatDistricts(item.districts);
        }
        return item;
      });
    };
    const state = reactive({
      adding: false,
      airportForm: {
        iata: "",
        airportName: "",
        airportTelephone: "",
        addrDetail1: "",
        addrDetail2: "",
        area: ['','',''],
        isDomestic:1
      },
      rules: {
        iata: [{ required: true, message: "Please enter the airport code", trigger: "blur" }],
        airportName: [{ required: true, message: "Please enter the airport name", trigger: "blur" }],
        airportTelephone: [
          { required: true, message: "Please enter the airport phone", trigger: "blur" }
        ],
        area: [{ required: true, message: "Please enter the airport address", trigger: "blur" }]
      },
      showDialog: false,
      query: {},
      tableData: [],
      area: [],
      paging: { total: 0, pageNum: 1, pageSize: 10 }
    });

    onMounted((_) => {
      getTableData();
    });

    const getTableData = async () => {
      const data = { ...state.paging, ...state.query }
      const {list,total} = await $http.QUERY_AIRPORT_LIST(data);
      state.tableData = list;
      state.paging.total = total;
    };

    const handleFormDia = ({ row = {isDomestic:1} }) => {
      state.airportForm = { ...row };
      state.airportForm.area = [row.country, row.state, row.city];
      state.showDialog = true;
    };
    const delAirport = ({ row: { airportId } }) => {
      tools.confirmDialog($http.DROP_AIRPORT,{ airportId },getTableData)
    };
    const formDom = ref(null);
    const onSave = () => {
      formDom.value.validate(async (valid) => {
        if (valid) {
          const [country, s, city] = state.airportForm.area;
          state.adding = true;
          await $http[state.airportForm.airportId ? "EDIT_AIRPORT" : 'INSERT_AIRPORT']({
            ...state.airportForm,
            country,
            state: s,
            city
          });
          state.showDialog = false;
          ElMessage({
            type: "success",
            message: "update airport info success!",
            duration:800,
            onClose() {
              getTableData();
              state.adding = false;
            }
          });
        } else {
          return false;
        }
      });
    };
    return {
      headers,
      ...toRefs(state),
      getTableData,
      formDom,
      onSave,
      handleFormDia,
      delAirport
    };
  }
};
</script>

<style lang="scss" scoped>
.search,
.table {
  border-radius: 4px;
  background: #fff;
}
.search {
  padding: 10px 20px;
  &-input {
    width: 850px;
    .el-input {
      width: 180px;
      margin-right: 10px;
    }
  }
}
:deep(.el-cascader) {
  width: 100%;
}
</style>
