<template>
  <div class="flight df fd-c h_100">
    <div class="search df fjc-sb fai-c">
      <div class="search-input df fw-w">
        <el-select v-model="query.startAddress" size="small" clearable placeholder="depart airport">
          <el-option
            v-for="item in airports"
            :key="item.airportId"
            :label="item.airportName"
            :value="item.airportName"
            :disabled="query.destination == item.airportName" />
        </el-select>
        <el-select v-model="query.destination" size="small" clearable placeholder="arrive airport">
          <el-option
            v-for="item in airports"
            :key="item.airportId"
            :label="item.airportName"
            :value="item.airportName"
            :disabled="query.startAddress == item.airportName" />
        </el-select>
        <el-button type="primary" size="small" @click="getTableData">search</el-button>
      </div>
      <el-button type="primary" size="small" @click="handleFormDia">add</el-button>
    </div>
    <div class="table flex-1 mt10 pa20">
      <Table
        :headers="headers"
        :data="tableData"
        @edit="handleFormDia"
        @delete="delFlight">
      </Table>
      <div class="ma10 tc">
        <Pagination 
          :total="paging.total"
          v-model:pageSize="paging.pageSize"
          v-model:currentPage="paging.pageNum"
          @paginationChange="getTableData"
        />
      </div>
    </div>

    <el-dialog
      v-model="showAddDialog"
      :width="900"
      :title="form.flightId?'edit':'add'"
      >
      <el-form
        class="form"
        ref="diaForm"
        inline
        :model="form"
        size="small"
        label-opsition="right"
        label-width="180px">
        <el-form-item label="Airline:">
          <el-select v-model="form.airlineId"
              v-loadmore="getAirlines"
              filterable
              remote
              reserve-keyword
              placeholder="Please enter name"
              popper-class="selectDom"
              :remote-method="getAirlines"
              :loading="loading"
          >
            <el-option v-for="item in airlines" :key="item.airlineId" :label="item.airlineName" :value="item.airlineId" />
          </el-select>
        </el-form-item>
        <el-form-item label="flight number:">
          <el-input v-model="form.flightNumber" />
        </el-form-item>
        <el-form-item label="depart airport">
          <el-select v-model="form.departureAirport">
            <el-option
              v-for="item in airports"
              :key="item.airportId"
              :label="item.airportName"
              :value="item.airportId"
              :disabled="form.destinationAirport == item.airportId" />
          </el-select>
        </el-form-item>
        <el-form-item label="departure time:">
          <el-date-picker v-model="form.flightDate" type="datetime" />
        </el-form-item>
        <el-form-item label="arrive airport:">
          <el-select v-model="form.destinationAirport">
            <el-option
              v-for="item in airports"
              :key="item.airportId"
              :label="item.airportName"
              :value="item.airportId"
              :disabled="form.departureAirport == item.airportId" />
          </el-select>
        </el-form-item>
        <el-form-item label="arrive time:">
          <el-date-picker v-model="form.arriveDate" type="datetime" />
        </el-form-item>
        <el-form-item label="First class number:">
          <el-input v-model="form.firstClassNum" />
        </el-form-item>
        <el-form-item label="First class price:">
          <el-input v-model="form.firstClassPrice" />
        </el-form-item>
        <el-form-item label="Economy class number:">
          <el-input v-model="form.economyClassNum" type="number" />
        </el-form-item>
        <el-form-item label="Economy class price:">
          <el-input v-model="form.economyClassPrice" />
        </el-form-item>
        <el-form-item label="mileage:">
          <el-input v-model="form.mileageSum"></el-input>
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button size="small" @click="showAddDialog = false" :disabled="adding">cancel</el-button>
        <el-button size="small"  type="primary" @click="submitForm" :disabled="adding" :loading="adding">confirm</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { inject, onMounted, reactive, toRefs } from 'vue';
import { ElMessage, ElMessageBox } from 'element-plus';
import { formatDate } from '/@/utils';

export default {
  directives: {
    loadmore: {
      mounted(el, binding) {
        const SELECTWRAP_DOM = document.querySelector(".selectDom");
        SELECTWRAP_DOM.querySelector('.el-select-dropdown__wrap').onscroll= function () {
          const CONDITION = this.scrollHeight - this.scrollTop <= this.clientHeight;
          if (CONDITION) {
            binding.value();
          }
        }
      }
    }
  },
  setup() {
    const $http = inject('http');

    const headers = [
      { label: 'airline', prop: 'airlineName' },
      { label: 'flight number', prop: 'flightNumber' },
      { label: 'depart airport', prop: 'departureName' },
      { label: 'departure time', prop: 'flightDate', formatter: format },
      { label: 'arrive airport', prop: 'destinationName' },
      { label: 'arrive time', prop: 'arriveDate', formatter: format },
      { label: 'mileage', prop: 'mileageSum' },
      { label: 'first num', prop: 'firstClassNum' },
      { label: 'first price', prop: 'firstClassPrice' },
      { label: 'economy num', prop: 'economyClassNum' },
      { label: 'economy price', prop: 'economyClassPrice' },
      { label: 'actions', prop: 'actions', width: 200 },
    ];

    const state = reactive({
      airlines: [],
      airports: [],
      query: {},
      tableData: [],
      paging: { total: 0, pageNum: 1, pageSize: 10 },
      showAddDialog: false,
      form: {},
      adding: false,
      loading: false,
      finished:false,
      airlinePaging: { total: 0, pageNum: 0, pageSize: 10 },
      prevVal:''

    });

    onMounted(_ => {
      getAirlines();
      getAirports();
      getTableData();
    })

    async function getAirlines(airlineName='') {
       if(state.prevVal !== airlineName){
        state.airlinePaging.pageNum=0
        state.finished = false
        state.airlines = []
      }
      state.prevVal = airlineName;
      state.airlinePaging.pageNum++
      if(state.finished) return
      state.loading = true;
      const data = { ...state.airlinePaging, airlineName };
      const {list,total} = await $http.getAirlineList(data)
      list.map(item=>{
        state.airlines.push(item)
      })
      state.loading = false;
      state.finished = list.length<state.airlinePaging.pageSize
    }

    function getAirports() {
      $http.QUERY_AIRPORT_LIST({pageSize: 100}).then(res => {
        state.airports = res.list;
      })
    }

    function getTableData() {
      const data = { ...state.paging, ...state.query };
      $http.queryFlights(data)
        .then(res => {
          state.tableData = res.list;
          state.paging.total = res.total;
        })
    }

    function handleFormDia({ row }) {
      state.form = { ...row };
      state.showAddDialog = true;
    }

    function submitForm() {
      state.adding = true;
      if (state.form.flightId) editFlight();
      else addFlight();
    }

     function addFlight() {
      $http.addFlight(state.form)
        .then(_ => {
          state.adding = false;
          state.showAddDialog = false;
          getTableData();
          ElMessage.success('add flight success!');
        })
        .catch(_ => state.adding = false)
    }

    function editFlight() {
      const data = { ...state.form };
      data.startDate = null; 
      $http.editFlight(data)
        .then(_ => {
          state.adding = false;
          state.showAddDialog = false;
          ElMessage.success('update flight success!');
          getTableData();
        })
        .catch(_ => state.adding = false)
    }

    function delFlight({ row }) {
      ElMessageBox.confirm('Are you sure to delete the flight information?', 'hint', {
        confirmButtonText: 'delete',
        cancelButtonText: 'cancel',
        type: 'warning'
      }).then(() => {
        $http.delFlight({ flightId: row.flightId })
          .then(_ => {
            ElMessage.success('delete flight success!');
            getTableData();
          })
      }).catch(() => {});
    }

    function format(row, column, cellValue, index) {
      return formatDate(cellValue, 'yyyy-MM-dd hh:mm');
    }

    return {
      headers,
      ...toRefs(state),
      getTableData,
      handleFormDia,
      submitForm,
      addFlight,
      editFlight,
      delFlight,
      getAirlines
    }
  }
}
</script>

<style lang="scss" scoped>
.search, .table {
  border-radius: 4px;
  background: #fff;
}
.search {
  padding: 10px 20px;
  min-height: 52px;
  &-input {
    width: 850px;
    ::v-deep(.el-input) {
      width: 180px;
      margin-right: 10px;
    }
  }
}
.form ::v-deep(.el-input) {
  width: 200px;
}
</style>