<template>
  <div class="flight df fd-c h_100">
    <div class="search df fjc-sb fai-c">
      <div class="search-input df fw-w">>
        <el-select
          v-model="query.flightNumber"
          size="small"
          clearable
          placeholder="depart filght"
        >
          <el-option
            v-for="item in filghtBySearch"
            :key="item.flightId"
            :label="item.flightNumber"
            :value="item.flightNumber"
          />
        </el-select>
        <el-button type="primary" size="small" @click="getTableData">search</el-button>
      </div>
      <el-button type="primary" size="small" @click="handleFormDia">add</el-button>
    </div>
    <div class="table flex-1 mt10 pa20">
      <Table
        :headers="headers"
        :data="tableData"
        @edit="handleFormDia"
        @delete="delFlight"
      >
        <template #mileage="{ data: { row: { economyMileage, firstMileage } } }" >
          <div class="df fd-c">
            <p> first class:<span class="text-primary">{{ economyMileage || "-" }}</span> </p>
            <p> economy class:<span class="text-primary">{{ firstMileage || "-" }}</span> </p>
          </div>
        </template>
      </Table>
      <div class="ma10 tc">
        <Pagination
          :total="paging.total"
          v-model:pageSize="paging.pageSize"
          v-model:currentPage="paging.pageNum"
          @paginationChange="getTableData"
        />
      </div>
    </div>

    <el-dialog v-model="showAddDialog" :width="600" title="add/edit mileage info">
      <el-form
        ref="formDom"
        :model="form"
        size="small"
        class="formInfo"
        label-opsition="right"
        label-width="120px"
      >
        <el-card shadow="never" :body-style="{ padding: '20px' }">
          <el-form-item label="flight:">
            <el-select
              v-model="form.flightId"
              v-loadmore="filterFlight"
              filterable
              remote
              reserve-keyword
              placeholder="Please enter destination"
              :remote-method="filterFlight"
              :loading="loading"
              :class="{ finish: finished }"
              popper-class="selectDom"
              @blur="initFilter"
            >
              <el-option
                v-for="item in filghtList"
                :key="item.value"
                :label="item.airlineName"
                :value="item.flightId"
              >
                <span style="float: left">{{ item.airlineName }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">{{
                  item.flightNumber
                }}</span>
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="mt5" label="first class:">
            <el-input v-model="form.economyMileage"></el-input>
          </el-form-item>
          <el-form-item label="economy class:">
            <el-input v-model="form.firstMileage"></el-input>
          </el-form-item>
        </el-card>
      </el-form>
      <template #footer>
        <el-button size="small" @click="showAddDialog = false" :disabled="adding"
          >cancel</el-button
        >
        <el-button
          size="small"
          type="primary"
          @click="submitForm"
          :disabled="adding"
          :loading="adding"
          >confirm</el-button
        >
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { inject, onMounted, reactive, toRefs, ref } from "vue";
import { ElMessage, ElMessageBox } from "element-plus";
import { tools } from "../../../utils";

export default {
  directives: {
    loadmore: {
      mounted(el, binding) {
        const SELECTWRAP_DOM = document.querySelector(".selectDom");
        SELECTWRAP_DOM.querySelector(".el-select-dropdown__wrap").onscroll = function () {
          const CONDITION = this.scrollHeight - this.scrollTop <= this.clientHeight;
          if (CONDITION) {
            binding.value();
          }
        };
      }
    }
  },
  setup() {
    const $http = inject("http");

    function formatter({ flightDate: s, arriveDate: e }) {
      return tools.timeDifference(e, s, { d: "d", h: "h", m: "m" });
    }

    const headers = [
      { label: "by airline", prop: "airlineName" },
      { label: "flight number", prop: "flightNumber" },
      { label: "flight time", prop: "time", formatter },
      { label: "mileage", prop: "mileageSum" },
      { label: "award", slot: "mileage" },
      { label: "actions", prop: "actions", width: 200, delDisabled({firstMileage:f,economyMileage:e}){
        return !f&&!e} }
    ];

    const state = reactive({
      airlines: [],
      query: {},
      tableData: [],
      paging: { pageNum: 1, pageSize: 10 },
      showAddDialog: false,
      form: {},
      rules: {
        destination: [{ required: true, message: "Please enter destination", trigger: "blur" }],
        startAddress: [{ required: true, message: "Please enter the place of departure", trigger: "blur" }],
        economyMileage: [{ required: true, message: "Please enter first class mileage", trigger: "blur" }],
        firstMileage: [{ required: true, message: "Please enter economy mileage", trigger: "blur" }]
      },
      adding: false,
      loading: false,
      finished: false,
      filghtList: [],
      filghtBySearch:[],
      prevVal: "",

    });

    onMounted((_) => {
      getTableData();
      getAirPorts()
    });

    function getTableData() {
      const data = { ...state.paging, ...state.query };
      $http.getFlightList(data).then((res) => {
        state.tableData = res.list;
        state.paging.total = res.total;
      state.filghtList = res.list
      });
    }
    async function getAirPorts(){
      state.filghtBySearch = (await $http.getRecomList()).list
    }

    function handleFormDia({ row }) {
      state.form = { ...row };
      state.showAddDialog = true;
    }

    const formDom = ref(null);
    function submitForm() {
      state.adding = true;
      formDom.value.validate(async (valid) => {
        if (valid) {
          $http[state.form.mileageId ? "UPDATE_MILEAGE" : "INSERT_MILEAGE"](state.form)
            .then((_) => {
              state.adding = false;
              state.showAddDialog = false;
              getTableData();
              ElMessage.success("operate successfully!");
            })
            .catch((_) => (state.adding = false));
        }
      });
    }

    function delFlight({ row: { mileageId } }) {
      tools.confirmDialog($http.DROP_MILEAGE, { mileageId }, getTableData);
    }

    async function filterFlight(destination = "") {
      if (state.prevVal !== destination) {
        state.paging.pageNum = 0;
        state.finished = false;
        state.filghtList = [];
      }
      state.prevVal = destination;
      state.paging.pageNum++;
      if (state.finished) return;
      state.loading = true;
      const data = { ...state.paging, destination };
      const { list, total } = await $http.getFlightList(data);
      list.map((item) => {
        state.filghtList.push(item);
      });
      state.loading = false;
      state.finished = list.length < state.paging.pageSize;
    }
    function initFilter() {
      state.paging = { pageNum: 1, pageSize: 10 };
    }

    return {
      headers,
      ...toRefs(state),
      getTableData,
      handleFormDia,
      submitForm,
      delFlight,
      filterFlight,
      initFilter,
      formDom
    };
  }
};
</script>

<style lang="scss" scoped>
.search,
.table {
  border-radius: 4px;
  background: #fff;
}
.search {
  padding: 10px 20px;
  min-height: 52px;
  &-input {
    width: 850px;
    ::v-deep(.el-input) {
      width: 180px;
      margin-right: 10px;
    }
  }
}

.formInfo :deep(.el-select) {
  width: 100%;
}
</style>
