<template>
  <div class="flight df fd-c h_100">
    <div class="search df fjc-sb fai-c">
      <div class="search-input df fw-w">
        <el-input v-model="query.customerId" clearable size="small" placeholder="user id" /> 
        <el-select v-model="query.status" size="small" clearable placeholder="state of payment" >
          <el-option label="have paid" :value="1" />
          <el-option label="off the stocks" :value="2" />
          <el-option label="canceled" :value="3" />
        </el-select>
        <el-button type="primary" size="small" @click="getTableData">search</el-button>
      </div>
    </div>
    <div class="table flex-1 mt10 pa20">
      <Table
        :headers="headers"
        :data="tableData"
      >
      <template #time="{data:{row:{departureTime:s,destinationTime:e}}}">
        <div class="df fd-c fai-c">
          <span>{{format(s)}}</span>
          <small>to</small>
          <span>{{format(e)}}</span>
        </div>
      </template>
      <template #info="{data:{row:{certificateList:items}}}">
        <div class="df fd-c">
          <p class="df" v-for="item in items" :key="item.id">
            <span class="mr5">{{item.passengerName}}</span> -
            <span class="ml5">{{item.passengersTelephone}}</span>
          </p>
        </div>
      </template>
      <template #actions="{data:{row}}">
          <el-button type="success" size="mini" @click="onInfo(row)">details</el-button>
      </template>
      </Table>
      <div class="ma10 tc">
        <Pagination
          :total="paging.total"
          v-model:pageSize="paging.pageSize"
          v-model:currentPage="paging.pageNum"
          @paginationChange="getTableData"
        />
      </div>
    </div>

    <el-dialog v-model="showInfoDialog" :width="800" title="Payment order information">
      <el-card shadow="never" :body-style="{ padding: '20px' }">
        <template #header>basic info</template>
        <div class="df fjc-sp">
          <span class="flex-1">
            airline: {{info.airlineName}}</span>
          <span class="flex-1">order number: <strong class="text-primary">{{info.bookingNumber}}</strong></span>
        </div>
        <div class="df fjc-sp mt10">
          <p class="flex-1">
            Flight number: <span >{{info.flightNumber}}</span>
            </p>
            <p class="df flex-1">
              shipping space: <span>{{{1:'first class',2:'economy class'}[info.seat]}}</span>
            </p>
        </div>
        <p class="df fjc-sp mt10">
          <span class="flex-1">vote: {{info.ticketSum}}</span>
          <span class="flex-1">total: <strong class="text-danger">${{info.priceSum}}</strong></span>
        </p>
        <div class="df fjc-sp mt15">
          <div class="flex-1 df fai-c fjc-sp">City routes: 
            <p class="df fd-c">
              {{info.departureCity}} 
              <span class="fs12 text-primary">{{info.departureName}}</span>
            </p>
            <i class="el-icon-right mx10"></i>
            <p class="df fd-c">
              {{info.destinationCity}}
              <span class="fs12 text-primary">{{info.destinationName}}</span>
            </p>
            </div>
          <div class="flex-1 df fai-c">Time of taking off and landing: 
              <div class="df fd-c fai-c">
                <span>{{format(info.departureTime)}}</span>
                <small>to</small>
                <span>{{format(info.destinationTime)}}</span>
              </div>
          </div>
        </div>
      </el-card>
      <el-card shadow="never" class="mt10" :body-style="{ padding: '20px' }">
        <template #header>Passenger information 
        </template>
        <div class="df fai-c fjc-sa mb10">
            <span class="flex-1">name</span>
            <span class="flex-1">identity</span>
            <span class="flex-1">contact way</span>
          </div>
          <div class="df fai-c fjc-sa mt5" v-for="item in info.certificateList" :key="item.id">
            <span class="flex-1">{{item.passengerName}}</span>
            <span class="flex-1">{{item.certificateNum}}</span>
            <span class="flex-1">{{item.passengersTelephone}}</span>
          </div>
      </el-card>
      <el-card shadow="never" class="mt10" :body-style="{ padding: '20px' }">
        <template #header>other info
        </template>
      
        <p class="df fjc-sp mb10">
          <span class="flex-1">order time: {{format(info.createDate)}}</span>
          <span class="flex-1">total mileage: {{info.mileageSum}}</span>
        </p>
        <p class="df fjc-sp mb10">
          <span class="flex-1">contact way: {{info.telephone||'-'}}</span>
          <span class="flex-1">order status: {{{1:'have paid', 2:'off the stocks', 3:'canceled'}[info.state]}}</span>
        </p>
      </el-card>
      
    </el-dialog>
  </div>
</template>

<script>
import { inject, onMounted, reactive, toRefs, ref } from "vue";
import { ElMessage, ElMessageBox } from "element-plus";
import { formatDate } from "/@/utils";

export default {
  setup() {
    const $http = inject("http");

    const headers = [
      { label: "airline", prop: "airlineName" },
      { label: "order number", prop: "bookingNumber" },
      { label: "total money", prop: "priceSum" },
      { label: "Passenger information", slot: "info",align:'left' },
      { label: "Take-off and landing time", slot: "time" },
      { label: "actions", slot: "actions", width: 150 }
    ];

    const state = reactive({
      query: {},
      tableData: [],
      showInfoDialog:false,
      info:null,
      paging: { total: 0, pageNum: 1, pageSize: 10 },
    });

    onMounted((_) => {
      getTableData();
    });

    function getTableData() {
      const data = { ...state.paging, ...state.query };
      $http.QUERY_ORDER_SELF(data).then((res) => {
        state.tableData = res.list;
        state.paging.total = res.total;
      });
    }

    function onInfo(info) {
      state.info = info
      state.showInfoDialog = true;
    }


    function format(cellValue) {
      return formatDate(cellValue, "yyyy-MM-dd hh:mm");
    }

    return {
      headers,
      ...toRefs(state),
      onInfo,
      getTableData,
      format
    };
  }
};
</script>

<style lang="scss" scoped>
.search,
.table {
  border-radius: 4px;
  background: #fff;
}
.search {
  padding: 10px 20px;
  min-height: 52px;
  &-input {
    width: 850px;
    ::v-deep(.el-input) {
      width: 180px;
      margin-right: 10px;
    }
  }
}

.formInfo :deep(.el-select) {
  width: 100%;
}
</style>
