<template>
  <div class="user df fd-c h_100">
    <div class="search df fjc-sb fai-c">
      <div class="search-input df fw-w">
        <el-input
          v-model="form.name"
          clearable
          size="small"
          placeholder="name"
        ></el-input>
        <el-select v-model="form.sex" size="small" clearable placeholder="sex">
          <el-option label="Male" :value="1" />
          <el-option label="Female" :value="2" />
        </el-select>
        <el-button class="ml10" type="primary" size="small" @click="getTableData"
          >search</el-button
        >
      </div>
    </div>
    <div class="table flex-1 mt10 pa20">
      <Table :headers="headers" :data="tableData" @delete="deleteItem" @edit="editItem">
        <template #address="{ data: { row } }">
          <div>{{ row.address }} - 1</div>
        </template>
        <template #actions="{ data: { row } }">
          <el-button type="success" size="mini" @click="onInfo(row)">details</el-button>
        </template>
      </Table>
      <div class="ma10 tc">
        <Pagination
          :hidden="paging.total < 1"
          :total="paging.total"
          v-model:pageSize="paging.pageSize"
          v-model:currentPage="paging.pageNum"
          @paginationChange="getTableData"
        />
      </div>
    </div>
  </div>

  <el-dialog v-model="showInfoDialog" :width="800" title="User details">
    <el-card shadow="never" :body-style="{ padding: '20px' }">
      <div class="df fjc-sp mb10">
        <span class="flex-1">email:{{ info.email || "-" }}</span>
        <span class="flex-1">name:{{ info.customerName || "-" }}</span>
      </div>
      <div class="df fjc-sp mb10">
        <span class="flex-1">sex:{{ { 1: "Male", 2: "Female" }[info.sex]||'-' }}</span>
        <span class="flex-1"
          >types of identity:{{ { 1: "domestic consumer", 2: "administrator" }[info.identity] }}</span
        >
      </div>
      <div class="df fjc-sp mb10">
        <span class="flex-1"
          >address:{{
            info.country ? `${info.country} ${info.state} ${info.city}` : "-"
          }}</span
        >
        <span class="flex-1">register date:{{ format(info.createDate)||'-' }}</span>
      </div>
      <div class="df fjc-sp mb10">
        <span class="flex-1">mileage:{{ info.mileageNum || "-" }}</span>
      </div>
    </el-card>
  </el-dialog>
</template>

<script>
import { inject, reactive, toRefs, onMounted } from "vue";
import { formatDate } from "../../../utils";

export default {
  setup() {
    const $http = inject("http");
    const headers = [
      { label: "name", prop: "customerName" },
      {
        label: "types of identity",
        prop: "identity",
        formatter: ({ identity }) => ({ 1: "domestic consumer", 2: "administrator" }[identity])
      },
      { label: "mileage", prop: "mileageNum" },
      { label: "actions", slot: "actions" }
    ];

    const state = reactive({
      form: {},
      tableData: [],
      paging: { pageNum: 1, pageSize: 10 },
      info: null,

      showInfoDialog: false
    });

    const getData = () => {};

    const editItem = (item) => {
      console.log(item);
    };
    function onInfo(info) {
      state.info = info;
      state.showInfoDialog = true;
    }

    const deleteItem = (item) => {
      console.log(item);
    };
    function getTableData(params = {}) {
      const data = { ...state.paging, ...state.form };
      $http.QUERY_USER_LIST(data).then((res) => {
        state.tableData = res.list;
        state.paging.total = res.total;
        state.filghtList = res.list;
      });
    }

    function format(cellValue) {
      return formatDate(cellValue, "yyyy-MM-dd hh:mm");
    }

    onMounted((_) => {
      getTableData();
    });

    return {
      headers,
      ...toRefs(state),
      getData,
      editItem,
      onInfo,
      deleteItem,
      getTableData,
      format
    };
  }
};
</script>

<style lang="scss" scoped>
.search,
.table {
  border-radius: 4px;
  background: #fff;
}
.search {
  padding: 10px 20px;
  min-height: 52px;
  &-input {
    width: 850px;
    .el-input {
      width: 180px;
      margin-right: 10px;
    }
  }
}
</style>
