<template>
  <Rail class="container" />
  <div class="guide-wrap">
    <div class="container">
      <div class="search-box">
        <div class="df fjc-sb fai-c">
          <p class="title">Flight Booking</p>
        </div>
        <div class="form-wrap df fjc-c">
          <div class="form-content">
            <el-radio-group v-model="goAnBack">
              <el-radio :label="false">One Way</el-radio>
              <el-radio :label="true">Round trip</el-radio>
            </el-radio-group>
            <el-form class="mt15" size="small">
              <div div class="df fd-c">
                <div class="df fjc-sb">
                  <div class="w240 city res">
                    <el-form-item>
                      <el-input v-model="query.startAddress" placeholder="Country / Region / City / Airport">
                        <template #prefix><div class="w36 tc">From</div></template>
                      </el-input>
                    </el-form-item>
                    <el-form-item>
                      <el-input v-model="query.destination" placeholder="Country / Region / City / Airport">
                        <template #prefix><div class="w36 tc">Until</div></template>
                      </el-input>
                    </el-form-item>
                    <div class="handle-btn pointer abs" @click="changeSite">
                      <div class="btn-text tc abs"><i class="el-icon-sort"></i></div>
                    </div>
                  </div>
                  <div class="time">
                    <el-form-item>
                      <el-date-picker
                        v-model="query.startDate"
                        :editable="false"
                        prefix-icon="time_start"
                        type="date"
                        :disabledDate="loadValidTime"
                        @change="changeStartTime"
                      />
                    </el-form-item>
                    <el-form-item>
                      <el-date-picker
                        v-model="query.backDate"
                        :editable="false"
                        prefix-icon="time_back"
                        type="date"
                        :disabled="!goAnBack"
                        :disabledDate="loadValidBackTime"
                      />
                    </el-form-item>
                  </div>
                </div>
                <div class="df mb10 fjc-sb fai-c">
                  <el-select class="w240" size="small" v-model="level" placeholder="Select cabin" clearable>
                    <el-option label="Economy class" :value="1"> </el-option>
                    <el-option label="First class" :value="2"> </el-option>
                  </el-select>
                  <span></span>
                  <el-button type="primary" class="w140" @click="clickSearch">search</el-button>
                </div>
              </div>
            </el-form>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="hc pt10">
    <div class="container">
      <div class="list-box" v-loading="loading">
        <div class="list-header my5">
          <div class="list-route" v-if="showBack">
            <div :class="['list-route_tab res pointer', {active: activeTab == 'goData'}]" @click="handlRoute('goData')">
              <p><span class="tab-label mr10">Select to go</span>{{`${backBarData.startAddress}-${backBarData.destination}`}} {{loadFlightDate(backBarData.startDate)}}</p>
            </div>
            <div :class="['list-route_tab res pointer', {active: activeTab == 'backData'}]"  @click="handlRoute('backData')">
              <p><span class="tab-label mr10">Select return</span>{{`${backBarData.destination}-${backBarData.startAddress}`}} {{loadFlightDate(backBarData.backDate)}}</p>
            </div>
          </div>
          <div class="list-filter df fai-c fjc-sb px30">
            <div class="list-filter-left">
            </div>
            <div class="list-filter-right">
              <el-button class="fs14 ml10" type="text" size="mini" @click="setDesc('first_class_price')">Low price</el-button>
              <el-button class="fs14 ml20" type="text" size="mini" @click="setDesc('flight_date')">Later time</el-button>
            </div>
          </div>
        </div>
        <template v-if="listData.list.length">
          <ListItem
            v-for="(t, i) in listData.list"
            :key="i" :data="t"
            :refGoAnBack="goAnBack"
            :refType="activeTab"
            :pitchOn="selectItem.flightId === t.flightId"
            @handleItem="handleItem" />
          <div class="bg-white df fjc-c px100">
            <el-divider class="ma20" :class="{pointer: !listData.disabledLoad}" @click="load">
              {{listData.disabledLoad?'No more':'load more'}}
            </el-divider>
          </div>
        </template>
        <el-empty class="bg-white" v-else description="No flights" />
      </div>
      <div class="journey">
        <div class="px24 pt12 pb24">
          <el-skeleton :rows="4" animated :loading="loading">
            <template #default>
              <h3  class="title">Trip recorder</h3>
              <template v-if="journey.length">
                <div class="df fw-w fjc-fs">
                  <div class="airline-item pointer" v-for="(t, i) in journey" :key="i" @click="lookJourney(t)">
                    <div class="df fjc-sb">
                      <p class="airline">{{ t.departureCity }}<i class="el-icon-right mx10" />{{ t.destinationCity }}</p>
                    </div>
                    <div class="date">{{ loadFlightDate(t.departureTime) }}</div>
                  </div>
                </div>
              </template>
              <el-empty v-else class="pa0" :image-size="100" description="There is no travel record" />
            </template>
          </el-skeleton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, inject, reactive, toRefs } from "vue";
import { ElMessage } from 'element-plus';
import { formatDate, tools } from '/@/utils';
import ListItem from './common/listItem.vue';

export default {
  components: { ListItem },
  setup() {
    const $http = inject('http');

    const currentDate = new Date(new Date().toLocaleDateString());
    const { customerId } = JSON.parse(sessionStorage.userInfo||'{}');

    const state = reactive({
      init: true,
      level: null,
      query: { startDate: currentDate },
      goAnBack: false,
      showBack: false,
      backBarData: {},
      goData: { list: [], pageNum: 1, loadMore: false },
      backData: { list: [], pageNum: 1, loadMore: false  },
      activeTab: 'goData',
      selectItem: {},
      loading: false, 
      disabledLoad: false,
      loadRecomIng: true,
      journey: []
    })

    const listData = computed(_ => state[state.activeTab]);

    customerId && getJourneyList();

    function getJourneyList() {
      $http.QUERY_ORDER_SELF({ customerId, pageSize: 8 }).then(res => {
        state.journey = res.list;
      })
    }

    function lookJourney(t) {
      tools.routerPush(`/order/${t.bookingId}`)
    }

    const loadValidTime = (time) => currentDate > time;
   
    const loadValidBackTime = (time) => new Date(state.query.startDate || currentDate) > time;

    const changeStartTime = (time) => {
      if (state.goAnBack) {
        const { backDate } = state.query;
        if (backDate && time > backDate) state.query.backDate = "";
      }
    };

    function changeSite() {
      const { startAddress, destination } = state.query;
      state.query.startAddress = destination;
      state.query.destination = startAddress;
    }

    function setDesc(val) {
      state.query.order = val;
      clickSearch();
    }

    function search(type = state.activeTab, back = undefined, form = state.query) {
      const { pageNum, loadMore } = state[type];
      const data = { ...form, pageSize: 10, pageNum };
      $http.getFlightList(data).then(res => {
        const { list, total } = res;
        const originList = state[type].list;
        state.init = false;
        state.loading = false;
        if (back !== undefined) {
          state.showBack = back;
          if (JSON.stringify(state.backBarData) === '{}') state.backBarData = data;
        };
        state[type] = {
          ...state[type],
          list: (loadMore?originList:[]).concat(list),
          disabledLoad: Math.ceil(total / 10) == pageNum,
          loadMore: false
        }
      })
    }

    function clickSearch() {
      const { goAnBack, query: { startAddress,  destination,  startDate, backDate }} = state;
      let text = '';
      if (!startAddress) text = 'Please enter the departure place';
      else if (!destination) text = 'Please enter destination';
      else if (!startDate) text = 'Please enter departure time';
      else if (goAnBack && !backDate) text = 'Please enter the return time';
      if (text) return ElMessage.warning(text);
      state.query.order = '';
      state.activeTab = 'goData';
      state.goData.pageNum = 1;
      state.backData.pageNum = 1;
      state.loading = true;
      state.showBack = false;
      state.backBarData = {};
      search('goData', goAnBack);
    }

    function load() {
      const { loadMore, disabledLoad } = state[state.activeTab];
      if (loadMore || disabledLoad) return;
      state[state.activeTab].loadMore = true;
      state[state.activeTab].pageNum++;
      search();
    }

    function loadFlightDate(date) {
      const time = new Date(date);
      let str = formatDate(time, 'MM-dd');
      str += ` ${['Mon','Tue','Wed','Thu','Fri','Sat','Sun'][time.getDay()]}`;
      return str;
    }

    function handlRoute(key) {
      if (key == 'backData' && !state.backData.list.length) {
        const { startAddress, destination } = state.backBarData;
        const form = { ...state.backBarData, startAddress: destination, destination: startAddress };
        search('backData', true, form);
      }
      state.activeTab = key;
    }

    function handleItem(item) {
      const { goAnBack, activeTab } = state;
      if (goAnBack) {
        if (activeTab == 'goData') {
          state.selectItem = item;
          state.activeTab = 'backData';
        } else {
          const path = `/flight/reserve?go=${state.selectItem.flightId}&back=${item.flightId}`;
          tools.routerPush(path);
        }
      } else {
        tools.routerPush(`/flight/reserve?go=${item.flightId}`);
      }
    }

    return {
      ...toRefs(state),
      listData,
      formatDate,
      loadValidTime,
      loadValidBackTime,
      changeStartTime,
      changeSite,
      clickSearch,
      setDesc,
      search,
      load,
      loadFlightDate,
      handlRoute,
      handleItem,
      lookJourney
    };
  }
};
</script>

<style lang="scss" scoped>
.guide-wrap {
  height: 320px;
  padding-top: 25px;
  border-top: 2px solid #409eff;
  .search-box {
    height: 290px;
    background: #F6F8FA;
    box-shadow: 0 3px 8px 1px rgb(0 0 0 / 5%);
    border-radius: 8px;
    padding: 6px 21px;
    .title {
      font-size: 26px;
      line-height: 50px;
    }
    .info {
      font-size: 12px;
    }
    .form-wrap {
      height: 225px;
      padding: 20px 30px 0;
      background: #ECF5FF;
      .form-content {
        width: 620px;
      }
    }
    .handle-btn {
      height: 51px;
      width: 20px;
      border: 1px solid #c0c4cc;
      border-left: 0;
      top: 16px;
      right: -25px;
      .btn-text {
        font-size: 12px;
        background: #c0c4cc;
        color: #fff;
        width: 17px;
        line-height: 18px;
        right: -8px;
        top: 16px;
      }
      &:hover {
        border-color: #409eff;
        .btn-text {
          background: #409eff;
        }
      }
    }
    .info {
      font-size: 12px;
      line-height: 18px;
      color: #757575;
    }
    .phone p:nth-child(1) {
      color: red;
      span {
        font-size: 18px;
      }
    }
  }
}

.hc {
  padding-bottom: 50px;
  min-height: calc(100vh - 446px);
}

.list-box {
  background: #F6F8FA;
  box-shadow: 0 3px 8px 1px rgb(0 0 0 / 5%);
}

.list-header {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  .list-route {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    position: relative;
    bottom: -10px;
    &_tab {
      display: inline-block;
      width: 336px;
      padding: 12px 24px 20px;
      background: #dde4ed;
      font-size: 14px;
      line-height: 18px;
      color: #5678a8;
      border-radius: 8px 8px 0 0;
      z-index: 10;
      &:nth-child(2) {
        left: -10px;
      }
      .tab-label {
        font-size: 18px;
        line-height: 22px;
      }
      &.active {
        background: #fff;
        z-index: 20;
        color: #333;
        .tab-label {
          color: #409eff;
        }
      }
    }
  }
  .list-filter {
    background: #fff;
    height: 55px;
    border-radius: 8px 8px 0 0;
    position: relative;
    z-index: 20;
  }
}

.journey {
  margin-top: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 8px 1px rgb(0 0 0 / 5%);
  overflow: hidden;
  .airline-item {
    width: 280px;
    height: 64px;
    padding: 12px 14px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    background: #fff;
    margin: 10px 10px 0 0;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:hover {
      border-color: #409eff;
    }
    .airline {
      font-size: 14px;
      color: #333;
      font-weight: 600;
    }
    .price {
      color: #ff7700;
      font-size: 12px;
      span {
        font-size: 18px;
      }
    }
    .date {
      font-size: 12px;
      color: #999;
      line-height: 18px;
    }
  }
}

.bg-white {
  background: #FFF;
}
.w30 {
  width: 30px;
}
.w140 {
  width: 140px;
}
.w240 {
  width: 240px;
}

:deep(.el-tabs__header) {
  margin-bottom: 1px;
}
.time :deep(.el-input__inner) {
  padding-left: 52px;
}
.city :deep(.el-input__inner) {
  padding-left: 40px;
}
:deep(.time_start::before),
:deep(.time_back::before) {
  display: block;
  font-size: 13px;
  line-height: 32px;
  text-align: center;
  width: 50px;
  font-style: normal;
}
::v-deep(.time .time_start::before) {
  content: "Depart";
}
::v-deep(.time .time_back::before) {
  content: "Return";
}
</style>
