<template>
  <Rail class="container" />
  <div class="content">
    <div class="container">
      <div :class="item.key" v-for="item in modules" :key="item.key">
        <div class="px24 pt12 pb24">
          <el-skeleton :rows="4" animated :loading="loading">
            <template #default>
              <h3  class="title">{{ item.title }}</h3>
              <template v-if="recomData[item.key].length">
                <div class="df fw-w fjc-fs">
                  <div class="airline-item pointer" v-for="(t, i) in recomData[item.key]" :key="i" @click="selectItem(t)">
                    <div class="df fjc-sb">
                      <p class="airline">{{ t.departureCity }}<i class="el-icon-right mx10" />{{ t.destinationCity }}</p>
                      <p class="price" v-if="item.key !== 'journey'">$<span>{{ t.economyClassPrice }}</span></p>
                    </div>
                    <div class="date">{{ loadFlightDate(t.startDate) }}</div>
                  </div>
                </div>
              </template>
              <el-empty v-else class="pa0" :image-size="100" description="There is no recommended flight at present" />
            </template>
          </el-skeleton>
        </div>
      </div>
      <div class="journey">
        <div class="px24 pt12 pb24">
          <el-skeleton :rows="4" animated :loading="loading">
            <template #default>
              <h3  class="title">Trip recorder</h3>
              <template v-if="recomData.journey.length">
                <div class="df fw-w fjc-fs">
                  <div class="airline-item pointer" v-for="(t, i) in recomData.journey" :key="i" @click="lookJourney(t)">
                    <div class="df fjc-sb">
                      <p class="airline">{{ t.departureCity }}<i class="el-icon-right mx10" />{{ t.destinationCity }}</p>
                    </div>
                    <div class="date">{{ loadFlightDate(t.departureTime) }}</div>
                  </div>
                </div>
              </template>
              <el-empty v-else class="pa0" :image-size="100" description="There is no travel record" />
            </template>
          </el-skeleton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { inject, onMounted, reactive, toRefs } from 'vue';

import { formatDate, tools } from '/@/utils';

export default {
  setup() {
    const $http = inject('http');
    const modules = [
      { title: 'Domestic recommended routes', bg: '/@/assets/inland.jpg', key: 'inland' },
      { title: 'International recommended routes', bg: '/@/assets/international.jpg', key: 'international' },
    ];

    const { customerId } = JSON.parse(sessionStorage.userInfo||'{}');

    const state = reactive({
      recomData: {
        inland: [],
        international: [],
        journey: []
      },
      loading: true
    });

    onMounted(_ => {
      getFlightList();
      customerId && getJourneyList();
    })

    function getFlightList() {
      $http.getHomeFlight().then(res => {
        state.recomData = {
          ...state.recomData,
          inland: res.domestic.splice(0,8),
          international: res.notDomestic.splice(0,8)
        };
        state.loading = false;
      })
    }

    function getJourneyList() {
      $http.QUERY_ORDER_SELF({ customerId, pageSize: 8 }).then(res => {
        state.recomData.journey = res.list;
      })
    }

    function lookJourney(t) {
      tools.routerPush(`/order/${t.bookingId}`)
    }

    function loadFlightDate(date) {
      const time = new Date(date);
      let str = formatDate(time, 'yyyy-MM-dd');
      str += ` ${['Mon','Tue','Wed','Thu','Fri','Sat','Sun'][time.getDay()]}`;
      return str;
    }

    function selectItem(item) {
      tools.routerPush(`/flight/reserve?go=${item.flightId}`);
    }

    return {
      ...toRefs(state),
      modules,
      loadFlightDate,
      selectItem,
      lookJourney
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  border-top: 2px solid #409eff;

  .inland, .international, .journey {
    margin-top: 20px;
    border-radius: 8px;
    background: #F6F8FA;
    box-shadow: 0 3px 8px 1px rgb(0 0 0 / 5%);
    overflow: hidden;
    &-img {
      display: block;
      width: 100%;
      filter: brightness(0.8);
    }
  }
  .title {
    font-size: 20px;
    line-height: 34px;
    padding-left: 5px;
  }
  .airline-item {
    width: 280px;
    height: 64px;
    padding: 12px 14px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    background: #fff;
    margin: 10px 10px 0 0;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:hover {
      border-color: #409eff;
    }
    .airline {
      font-size: 14px;
      color: #333;
      font-weight: 600;
    }
    .price {
      color: #ff7700;
      font-size: 12px;
      span {
        font-size: 18px;
      }
    }
    .date {
      font-size: 12px;
      color: #999;
      line-height: 18px;
    }
  }
}
</style>