<template>
  <Rail class="container" />
  <div class="filght-panel"></div>
  <main class="filght-wrap">
    <header class="filght-header res pa20">
      <el-form class="form" inline size="mini" :model="form" label-width="80px">
        <el-form-item label="Airline">
          <el-select v-model="form.airlineName" clearable>
            <el-option
              v-for="item in airlines"
              :key="item.airlineId"
              :label="item.airlineName"
              :value="item.airlineName"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Departure">
          <el-select v-model="form.startAddress" clearable>
            <el-option
              v-for="item in airports"
              :key="item.airportId"
              :label="item.airportName"
              :value="item.airportName"
              :disabled="form.destination == item.airportName"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Arrive">
          <el-select v-model="form.destination" clearable>
            <el-option
              v-for="item in airports"
              :key="item.airportId"
              :label="item.airportName"
              :value="item.airportName"
              :disabled="form.startAddress == item.airportName"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Dep-date">
          <el-date-picker
            v-model="form.startDate"
            clearable
            type="date"
            placeholder="choose Dates"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Flight Num">
          <el-input
            v-model="form.flightNumber"
            placeholder="Please enter the sailing class"
          ></el-input>
        </el-form-item>
        <el-form-item label="Departure">
          <el-input
            v-model="form.departureCity"
            placeholder="Please enter the departure area"
          ></el-input>
        </el-form-item>
        <el-form-item label="Destination">
          <el-input
            v-model="form.destinationCity"
            placeholder="Please enter the destination"
          ></el-input>
        </el-form-item>

        <el-form-item label="Sort">
          <el-select v-model="form.order" clearable>
            <el-option
              v-for="item in orders"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <div class="df fjc-fe mt10 mr10">
        <el-button size="small" type="primary" @click="getData">search</el-button>
        <el-button size="small" @click="onClear">clear</el-button>
      </div>
    </header>
    <el-progress v-if="percentage!==100" class="my20" :percentage="percentage"></el-progress>
    <section class="filght-content df fd-c fjc-sb">
      <section v-if="listData.length" class="filght-content-body pa10">
        <ListItem v-for="(t, i) in listData" :key="i" :data="t" @handleItem="goReserve" />
      </section>
      <el-empty class="bg-white" v-else description="No flights" />
      <section class="mb50 tc">
        <Pagination
          :total="paging.total"
          v-model:pageSize="paging.pageSize"
          v-model:currentPage="paging.pageNum"
          @paginationChange="getData"
        />
      </section>
    </section>
  </main>
</template>

<script>
import { ref, inject, watch, reactive } from "vue";
import ListItem from "./common/listItem.vue";
import { tools } from "/@/utils";
export default {
  components: { ListItem },
  setup() {
    const $http = inject("http");
    const form = ref({ airlineName: "", startAddress: "", destination: "" });

    const airlines = ref([]);
    $http
      .getAirlineList({ pageNum: 1, pageSize: 100 })
      .then(({ list }) => (airlines.value = list));

    const airports = ref([]);
    $http
      .QUERY_AIRPORT_LIST({ pageNum: 1, pageSize: 100 })
      .then(({ list }) => (airports.value = list));

    const orders = ref([
      { label: "price", value: "first_class_price" },
      { label: "time", value: "flight_date" }
    ]);

    const listData = ref([]);
    const paging = ref({ total: 0, pageNum: 1, pageSize: 10 });
    const percentage = ref(0)
    async function getData(params) {
      percentage.value=0
      const data = { ...paging.value, ...form.value, ...params };
      const { list, total } = await $http.getFlightList(data);
        percentage.value=90
      setTimeout(() => {
        percentage.value=100
      }, 500);
      listData.value = list;
      paging.value.total = total;
    }

    getData();

    function goReserve(item) {
      tools.routerPush(`/flight/reserve?go=${item.flightId}`);
    }

    function onClear() {
      form.value = {};
    }
    return {
      form,
      airlines,
      airports,
      orders,
      listData,
      paging,
      getData,
      goReserve,
      percentage,
      onClear
    };
  }
};
</script>

<style lang="scss" scoped>
:deep(.el-divider__text.is-center) {
  transform: translateX(-50%) translateY(-115%);
}
.form{
  :deep(.el-select),
  :deep(.el-input) {
    width: 200px;
  }
}
.filght- {
  &panel {
    border-top: 2px solid #409eff;
  }
  &row {
    background: #fff;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    }
  }
  &content {
    height: calc(100vh - 300px);
    margin-top: 20px;
    background: #f6f8fa;
    border-radius: 8px;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.05);
  }
  &wrap {
    width: 1200px;
    margin: auto;
  }
  &header {
    height: 160px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    background: #F6F8FA;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    &-search {
      margin-bottom: 30px;
    }
  }
}
</style>
