<template>
  <Rail class="container" />
  <div class="main">
    <div class="container warp df">
      <div class="form-wrap">
        <el-form ref="formDom" size="small" :model="form" label-position="top">
          <el-form-item label="airplane passenger">
            <el-checkbox-group v-model="form.certificateIds">
              <el-checkbox class="form-checkbox" v-for="t in passenger" :key="t.certificateId" :label="t.certificateId">
                {{ t.passengerName }} - {{ tools.plusXing(t.certificateNum, 4, 4) }}
              </el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item>
            <el-button icon="el-icon-plus" size="small" @click="toRouter('/user?type=passenger')">add airplane passenger</el-button>
          </el-form-item>
          <el-form-item :label="`${isTripn?'go out ':''}shipping space`">
            <el-select v-model="form.goSeat">
              <el-option label="economy class" :value="2">
                <div class="df fjc-sb">
                  <small>economy class</small>
                  <small>${{ goFlightInfo.economyClassPrice }}</small>
                </div>
              </el-option>
              <el-option label="first class" :value="1">
                <div class="df fjc-sb">
                  <small>first class</small>
                  <small>${{ goFlightInfo.firstClassPrice }}</small>
                </div>
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="isTripn" label="return shipping space">
            <el-select v-model="form.backSeat">
              <el-option label="economy class" :value="2">
                <div class="df fjc-sb">
                  <small>economy class</small>
                  <small>${{ backFlightInfo.economyClassPrice }}</small>
                </div>
              </el-option>
              <el-option label="first class" :value="1">
                <div class="df fjc-sb">
                  <small>first class</small>
                  <small>${{ backFlightInfo.firstClassPrice }}</small>
                </div>
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="payment card">
            <div class="df fai-c">
              <el-select v-model="form.creditCardId" popper-class="reserve-cards">
                <el-option v-for="t in cards" :key="t.addrid" :value="t.addrid" :label="t.bank">
                  <p>{{ t.bank }}</p>
                  <p>{{ t.cardNumber }}</p>
                </el-option>
              </el-select>
              <el-button class="ml20" type="text" @click="toRouter('/user?type=creditCard')">to add</el-button>
            </div>
          </el-form-item>
          <div class="pay-total mb18">totel:${{ total }}</div>
          <el-form-item label="apply for reimbursement">
            <div class="df fai-c mt-15">
              <el-checkbox v-model="form.apply"></el-checkbox>
              <p class="ins-text">Reimbursement voucher is needed (Including: full invoice (electronic version))</p>
            </div>
          </el-form-item>
          <el-button type="primary" size="small" @click="submit">submit</el-button>
        </el-form>
      </div>
      <div class="route-wrap flex-1 pt20">
        <template  v-for="(t, i) in [goFlightInfo, backFlightInfo]" :key="i">
          <template v-if="!i || (i&&isTripn)">
            <div class="info">
              {{ loadFlightDate(t.flightDate) }} {{`${t.departureCity}-${t.destinationCity}`}}
              <span v-if="isTripn" class="fs14 ml10">{{i?'return':'go out'}}</span>
            </div>
            <div class="df fai-c fjc-sb pa20 mb30">
              <div class="time">
                <p>{{ formatDate(t.flightDate, 'hh:mm') }}</p>
                <p>{{ t.departureName }}</p>
              </div>
              <div class="flex-1 mx10">
                <el-divider class="my10" el-divider>{{tools.timeDifference(t.arriveDate,t.flightDate)}}</el-divider>
                <p class="divider-info tc">{{ t.airlineName }}</p>
                <p class="divider-info tc">{{ t.flightNumber }}</p>
              </div>
              <div class="time">
                <p>{{ formatDate(t.arriveDate, 'hh:mm') }}</p>
                <p>{{ t.destinationName }}</p>
              </div>
            </div>
          </template>
        </template>
      </div>
    </div>
  </div>
  <el-dialog v-model="payDialog" title="hint" :width="600" :showClose="false" :close-on-click-modal="false">
    <div class="pay-dialog df">
      <i class="el-icon-circle-check success-icon"></i>
      <div>
        <p class="title">Reservation success</p>
        <p class="pay-content">Your ticket reservation is successful, you can go to the personal center - view the order to inquire about your order information</p>
      </div>
    </div>
    <template #footer>
      <span class="df fjc-c">
        <el-button @click="toRouter('/user?type=order')">check an order</el-button>
        <el-button type="primary" @click="toRouter('/')">confirm</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
import { computed, inject, onMounted, reactive, toRefs } from "vue";
import { useRoute } from 'vue-router';
import { ElMessage } from 'element-plus';

import { tools, formatDate } from '/@/utils';

export default {
  setup() {
    const $http = inject('http');
    const { go, back } = useRoute().query;
    console.log(go, back);

    const state = reactive({
      passenger: [],
      cards: [],
      form: {
        customerId: tools.getUserInfo().customerId,
        certificateIds: [],
        goSeat: 2,
        backSeat: 2,
      },
      isTripn: !!back,
      goFlightInfo: { flightId: go },
      backFlightInfo: { flightId: back },
      flightInfo: {},
      payDialog: false
    });

    const total = computed(_ => {
      const {
        goFlightInfo: { firstClassPrice: goFirst, economyClassPrice: goEconomy },
        backFlightInfo: { firstClassPrice: backFirst, economyClassPrice: backEconomy },
        form: { certificateIds, goSeat, backSeat }
      } = state;
      const goPrice = goSeat === 1 ? goFirst : goEconomy;
      const backPrice = backSeat === 1 ? backFirst : backEconomy;
      const len = certificateIds.length;
      return len * (goPrice + (backPrice || 0));
    })

    onMounted(_ => {
      getFlightInfo('go', state.goFlightInfo.flightId);
      back && getFlightInfo('back', state.backFlightInfo.flightId);
      getUserList();
      getCards();
    })

    function getFlightInfo(dir, id) {
      $http.selectFlight({flightId: id}).then(res => {
        const key = dir === 'go' ? 'goFlightInfo' : 'backFlightInfo';
        state[key] = res;
      })
    }

    function getUserList() {
      const { customerId } = state.form;
      $http.QUERY_EC({ customerId }).then(res => {
        state.passenger = res;
      })
    }

    function getCards() {
      const { customerId } = state.form;
      $http.QUERY_CREDIT_CARD({ customerId }).then(res => {
        state.cards = res;
      })
    }

    function loadFlightDate(date) {
      const time = new Date(date);
      let str = formatDate(time, 'MM-dd');
      str += ` ${['Mon','Tue','Wed','Thu','Fri','Sat','Sun'][time.getDay()]}`;
      return str;
    }

    function toRouter(path) {
      tools.routerPush(path)
    }
  
    const submit = async () => {
      if (!state.form.certificateIds.length) {
        return ElMessage.warning('Please select your passenger');
      } else if (!state.form.creditCardId) {
        return ElMessage.warning('Please select your payment card');
      } else {
        const { goFlightInfo, backFlightInfo, form: { customerId, goSeat, backSeat, certificateIds } } = state;
        const goData = { flightId: goFlightInfo.flightId, customerId, seat: goSeat, certificateIds: JSON.stringify(certificateIds) };
        await $http.createOrder(goData).then(_ => {});
        if (state.isTripn) {
          const backData = { ...goData, flightId: backFlightInfo.flightId, seat: backSeat };
          await $http.createOrder(backData).then(_ => {});
        }
        state.payDialog = true;
      }
    }

    return {
      ...toRefs(state),
      total,
      toRouter,
      loadFlightDate,
      formatDate,
      tools,
      submit
    };
  }
};
</script>

<style lang="scss">
.reserve-cards {
  .el-select-dropdown__item {
    height: auto;
    line-height: 24px;
    padding: 5px 20px;
  }
}
</style>

<style lang="scss" scoped>
.main {
  border-top: 2px solid #409eff;
  min-height: calc(100vh - 38px);
  background: #eef1f6;
}
.warp {
  background: #fff;
}
.form-wrap {
  width: 760px;
  padding: 20px 80px;
  .ins-text {
    font-size: 12px;
    margin-left: 10px;
  }
  .form-checkbox {
    display: block;
  }
  .pay-total {
    font-size: 14px;
    color: rgb(96, 98, 102);
    line-height: 32px;
  }
}
.route-wrap {
  border-left: 2px solid #eef1f6;
  .info {
    font-size: 24px;
    line-height: 28px;
    border-left: 2px solid #409eff;
    padding-left: 10px;
    margin-left: -2px;
  }
  .time {
    text-align: center;
    width: 120px;
    p:nth-child(1) {
      font-size: 20px;
      line-height: 24px;
    }
    p:nth-child(2) {
      font-size: 12px;
      left: 14px;
    }
  }
}
.divider-info {
  font-size: 12px;
}
.mt-15 {
  margin-top: -15px;
}

.pay-dialog {
  .success-icon {
    margin: 0 40px 0 20px;
    font-size: 48px;
    color: #67C23A;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
    color: #67C23A
  }
  .pay-content {
    font-size: 16px;
    line-height: 20px;
  }
}
</style>
