* {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  background-color: #fafafa;
}

ol, ul {
  list-style-position: outside;
  list-style-type: none;
  list-style-image: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.spill {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spills {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.needed::before {
  content: '*';
  color: #FA5946;
  display: inline-block;
  margin-right: 4px;
}

.pointer {
  cursor: pointer;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

@for $i from 0 through 100 {
  // padding
  .pa#{$i} {
    padding: #{$i}px;
  }
  .px#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
  .py#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
  .pt#{$i} {
    padding-top: #{$i}px;
  }
  .pr#{$i} {
    padding-right: #{$i}px;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px;
  }
  .pl#{$i} {
    padding-left: #{$i}px;
  }
  // margin
  .ma#{$i} {
    margin: #{$i}px;
  }
  .mx#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
  .my#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
  .mt#{$i} {
    margin-top: #{$i}px;
  }
  .mr#{$i} {
    margin-right: #{$i}px;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
  .ml#{$i} {
    margin-left: #{$i}px;
  } 
    .w#{$i}{
      width: #{$i}px;
  }
}

@for $i from 10 through 48 {
  .fs#{$i} {
    font-size: #{$i}px;
  }
}