@import "./base.scss";
@import "./flex.scss";

.container {
  width: 1200px;
  margin: 0 auto;
}
.gray{
  transition: filter 300ms;
  filter: grayscale(100);
}
.res {
  position: relative;
}

.abs {
  position: absolute;
}

.search-popover {
  padding: 0 !important;
}
/// color|1|Brand Color|0
$--color-primary: #409EFF !default;
$--color-success: #67C23A !default;
/// color|1|Functional Color|1
$--color-warning: #E6A23C !default;
/// color|1|Functional Color|1
$--color-danger: #F56C6C !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;

.cr-p{
    cursor: pointer;
}
.text-danger{
    color:$--color-danger
}
.text-primary{
    color:$--color-primary
}
.text-info{
    color:$--color-info
}

.w100{
    width: 100%;
}
div[class*="-airWrap"]{
    background: #fff;
    padding-top: 30px;
}
u,em{
    text-decoration: none;
}
.br-b{
    border-bottom: 1px solid lighten($--color-info, 35);
}
.ts85{
  transform: scale(.85);
}