<template>
  <div>
    <div class="login-bg"></div>
    <div class="login-panel df fai-c fjc-fe">
      <el-card class="login-box">
        <el-form :model="form" :rules="rules" ref="loginForm" @keydown.enter="onLogin">
          <el-form-item prop="email">
            <el-input
              class="mb10"
              placeholder="Please enter email"
              prefix-icon="el-icon-search"
              v-model="form.email"
            >
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input
              class="mb10"
              placeholder="Please enter password"
              prefix-icon="el-icon-lock"
              show-password
              v-model="form.password"
            >
            </el-input>
          </el-form-item>
          <el-form-item prop="verifyCode">
            <section class="df fd-r fai-c mb10">
              <el-input
                class="mr10"
                placeholder="verify code"
                prefix-icon="el-icon-s-check"
                v-model="form.verifyCode"
              >
              </el-input>
              <div id="v_verify" style="width: 100px; height: 30px"></div>
            </section>
          </el-form-item>
          <section class="df mb5">
            <el-checkbox v-model="form.identity" :true-label="1" :false-label="2"><small>user</small></el-checkbox>
            <el-checkbox v-model="form.identity" :true-label="2" :false-label="1"><small>administrator</small></el-checkbox>
          </section>
          <el-button type="primary" class="login-btn mt5" @click="onLogin"
            >login</el-button
          >
          <footer class="df fjc-sb mt5">
            <small></small>
            <small class="text-danger cr-p fs12" @click="toReg">register immediately</small>
          </footer>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, ref, onMounted, inject } from "vue";
import { useStore } from "vuex";
import "./verifiy";
import { tools } from "/@/utils";
export default {
  setup() {
    const store = useStore();
    const $http = inject("http");
    function validateVerifyCode(rules, value, cd) {
      if (!verifyCodeWait.validate(value)) return new Error("The verification code is incorrect");
      cd();
    }
    let state = reactive({
      autoLogin: false,
      form: {
        email: "",
        password: "",
        identity: 1,
        verifyCode: ""
      },
      rules: {
        email: [
          { required: true, message: "Please enter email", trigger: "blur" },
          { type: "email", message: "mail format error", trigger: "change" }
        ],
        password: [{ required: true, message: "Please enter password", trigger: "blur" }],
        verifyCode: [{ validator: validateVerifyCode }]
      }
    });
    let verifyCodeWait = null;
    const verifyCode = ref("");
    const loginForm = ref(null);
    onMounted(() => {
      verifyCodeWait = new GVerify({
        width: 100,
        height: 30,
        id: "v_verify"
      });
    });
    const methods = {
      toForget() {
        tools.routerPush("/forget");
      },
      toReg() {
        tools.routerPush("/register");
      },
      onLogin() {
        loginForm.value.validate((valid) => {
          if (valid) {
            $http.login(state.form).then((res) => {
              if (res) {
                res && store.dispatch("setUserInfo", res);
                sessionStorage.userInfo = JSON.stringify(res);
                tools.routerPush(res.identity === 2 ? "/control/user" : "/home");
              } else {
                verifyCodeWait.refresh();
              }
            });
          } else {
            verifyCodeWait.refresh();
            return false;
          }
        });
      }
    };
    return {
      ...toRefs(state),
      loginForm,
      verifyCode,
      ...methods
    };
  }
};
</script>

<style lang="scss" scoped>
::v-deep(.el-input-group__append, .el-input-group__prepend) {
  background: transparent;
}
.login- {
  &panel {
    height: 97vh;
    position: relative;
  }
  &bg {
    width: 100%;
    height: 97vh;
    transform: rotateY(180deg);
    filter: grayscale(0.8) blur(1px) opacity(0.8);
    background: url("./../../assets/plan.jpg") 100% 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
  }
  &box {
    width: 400px;
    margin-right: 15%;
  }
  &btn {
    width: 100%;
  }
}
</style>
