<template>
    <div class="login-bg"></div>
    <el-card class="login-forget">
      <template #header>
        <div class="df fjc-c">
          <strong class="text-primary flex-1 text-center">user registration</strong>
          <small class="df fai-c mr20">Existing account<el-link href="#/login"><small class="ml5">login</small></el-link></small>
        </div>
      </template>
      <span class="login-decoration"></span>
      <section class="df fd-c login-panel fac-sb ">
        <el-steps :active="stepVal" simple class=" mb20">
          <el-step title="Set login name" icon="el-icon-user"></el-step>
          <el-step title="set a password" icon="el-icon-lock"></el-step>
          <el-step title="registered success" icon="el-icon-check"></el-step>
        </el-steps>
        <el-form
          v-if="stepVal !== 2"
          ref="formDom"
          class="login-form"
          size="mini"
          :model="form"
          label-width="150px"
          :rules="rules"
        >
          <template v-if="stepVal === 0">
            <el-form-item label="user name:" prop="name">
              <el-input v-model="form.name" placeholder="Please enter a user name"></el-input>
            </el-form-item>
            <el-form-item label="email:" prop="email">
              <el-input v-model="form.email" placeholder="Please enter email"></el-input>
            </el-form-item>
            <el-form-item label="code:" prop="code">
              <section class="df fd-r fai-c">
                <el-input class="mr10" max="4" placeholder="Please enter code" v-model="form.code">
                </el-input>
                <div id="v_verify" class="input-verify"></div>
              </section>
            </el-form-item>
          </template>
          <template v-else>
            <el-form-item label="enter password:" prop="password">
              <el-input v-model="form.password" type="password" placeholder="Please enter password"></el-input>
            </el-form-item>
            <el-form-item label="confirm password:" prop="checkPass">
              <el-input v-model="form.checkPass" type="password" placeholder="Please make sure you enter your password"></el-input>
            </el-form-item>
          </template>
        </el-form>
        <template v-else>
          <div class="df fd-c fai-c">
            <el-empty description="registered successfully">
              <template #image>
                <i class="el-icon-finished text-primary"> </i>
              </template>
            </el-empty>
            <small class="df">{{time}} Seconds after the automatic jump or click<el-link class="ml5"><small class="login-home">home</small></el-link></small>
          </div>
        </template>
        <footer class="input-btn">
          <el-button v-if="stepVal === 1" type="warning" :disabled="nextLoading" @click="onPrev">last step</el-button>
          <el-button v-if="stepVal !== 2" :loading="nextLoading" type="primary" @click="onNext" >next step</el-button>
        </footer>
      </section>
    </el-card>
</template>

<script>
import "./verifiy";
import options from './option';
import { reactive, toRefs, onMounted, inject } from "vue";
import { useStore } from "vuex";
import tools from '/@/utils/tools';

export default {
  setup() {
    const $http = inject('http');
    const store = useStore();

    function validateVerifyCode(rules, value, cd) {
      if (!verifyCodeWait.validate(value)) return new Error('The verification code is incorrect');
      cd();
    }

    function validatePass(rules, value, cd) {
      if (value !== state.form.password) return cd(new Error('Inconsistent passwords entered twice!'));
      cd();
    }

    const rules = {
      name: [{ required: true, message: 'Please enter a user name', trigger: 'blur' }],
      email: [
        { required: true, message: 'Please enter email', trigger: 'blur' },
        { type: 'email', message: 'Please enter the correct email address', trigger: 'blur' }
      ],
      code: [
        { required: true, message: 'Please enter the verification code', trigger: 'blur' },
        { validator: validateVerifyCode, trigger: 'blur' }
      ],
      password: [{ required: true, message: 'Please enter password', trigger: 'blur' }],
      checkPass: [
        { required: true, message: 'Please enter your password again', trigger: 'blur' },
        { validator: validatePass, trigger: 'blur' }
      ]
    };

    let verifyCodeWait = null;
    let timer = null;
    
    const state = reactive({
      formDom: null,
      stepVal: 0,
      nextLoading: false,
      way: 0,
      verifyCode: "",
      time:5,
      form: { name: '', email: '', code: '', password: '', checkPass: '' }
    });

    onMounted(() => {
      verifyCodeWait = new GVerify({
        width: 100,
        height: 30,
        id: "v_verify"
      });
    });

    function onNext() {
      state.formDom.validate(valid => {
        if (valid) {
          state.nextLoading = true;
          if (state.stepVal == 0) checkUser();
          else registerUser();
        } else {
          return false;
        }
      })
    }

    function checkUser() {
      $http.checkEamil({ email: state.form.email })
        .then(res => {
          state.stepVal++;
          state.nextLoading = false;
        })
        .catch(err => {
          state.nextLoading = false;
        })
    }

    function registerUser() {
      $http.register(state.form)
        .then(res => {
          state.stepVal++;
          state.nextLoading = false;
          autoLogin();
        })
        .catch(err => {
          state.nextLoading = false;
        })
    }

    function autoLogin() {
      const { email, password } = state.form;
      $http.login({ email, password, identity: 1 })
        .then(res => {
          res && store.dispatch("setUserInfo", res);
          sessionStorage.userInfo = JSON.stringify(res);
          autoToHome()
        })
    }

    function autoToHome() {
      timer = setInterval(() => {
        state.time--;
        if (state.time === 0) {
          clearInterval(timer);
          tools.routerPush('/');
        }
      }, 1000);
    }

    function onPrev() {
      state.stepVal--;
    }
    
    return {
      rules,
      ...toRefs(state),
      onNext,
      onPrev,
      ...options.methods
    };
  }
};
</script>

<style lang="scss" scoped>
.el-icon-finished {
  font-size: 48px;
  font-weight: 550;
}
.input- {
  &btn {
    margin: 0 auto 20px auto;
    button {
      width: 250px;
    }
  }
  &verify {
    width: 100px;
    height: 25px;
  }
}
.login- {
  &panel {
    min-height: 300px;
  }
  &form {
    width: 500px;
    margin: auto;
  }
  &forget {
    width: 1024px;
    margin: auto;
    padding-top: 20px;
  }
  &bg {
    width: 100%;
    height: 200px;
    filter: grayscale(0.2) blur(1px) opacity(0.7);
    background: url('./../../assets/filght_bg.jpg') no-repeat left top/cover;
  }
  &decoration {
    display: inline-block;
    width: 132px;
    height: 65px;
    background: url('./../../assets/decoration.png') no-repeat;
    position: absolute;
    top: 80px;
    left: 30%;
    display: none;
  }
  &home {
    color: #409eff;
  }
}
</style>
