<template>
  <div class="flight-list-item res df fai-c">
    <div class="list-item--icon"></div>
    <div class="list-item--info">
      <p class="list-item--info__name">{{ data.airlineName }}</p>
      <p class="list-item--info__number">{{ data.flightNumber }}</p>
    </div>
    <div class="list-item--airline flex-1 df fai-c">
      <div class="airline-start tr">
        <p class="airline-start__time">{{ formatDate(data.startDate, 'hh:mm') }}</p>
        <p class="airline-start__airport">{{ data.departureName }}</p>
      </div>
      <div class="airline-divider">
        <div class="mx15">
          <p class="airline-divider__duration text-info tc">{{ tools.timeDifference(data.arriveDate, data.startDate )}}</p>
          <el-divider class="my12">
            <el-popover placement="top" :width="220" trigger="hover">
              <template #reference v-if="data.isTurn">
                <small class="pointer">turn</small>
              </template>
            </el-popover>
          </el-divider>
        </div>
      </div>
      <div class="airline-end">
        <p class="airline-end__time">{{ formatDate(data.arriveDate, 'hh:mm') }}</p>
        <p class="airline-end__airport">{{ data.destinationName }}</p>
      </div>
    </div>
    <div class="list-item--price tr">
      <p class="list-item--price__first">
        <span class="list-item--price__rmb">$</span>{{ data.firstClassPrice }}
      </p>
      <p class="list-item--price__economic">economy class ${{ data.economyClassPrice }}</p>
    </div>
    <template v-if="refGoAnBack">
      <el-button v-if="refType == 'goData'" class="w80" :type="pitchOn?'success':'primary'" size="mini"  @click="handleItem(data)">
        {{ pitchOn?'Select to go':'Choose to go' }}
      </el-button>
      <el-button v-else class="w80" type="primary" size="mini"  @click="handleItem(data)">Choose to return</el-button>
    </template>
    <el-button v-else class="w80" type="primary" size="mini" @click="handleItem(data)">booking</el-button>
  </div>
</template>

<script>
import { formatDate, tools } from '/@/utils';

export default {
  name: 'list-item',
  props: {
    data: {
      type: Object,
      default: {}
    },
    refGoAnBack: {
      type: Boolean,
      default: false
    },
    refType: {
      type: String,
      default: ''
    },
    pitchOn: {
      type: Boolean,
      default: false
    }
  },
  setup(_, ctx) {

    function handleItem(item) {
      ctx.emit('handleItem', item)
    }

    return {
      formatDate,
      tools,
      handleItem
    }
  }
}
</script>

<style lang="scss" scoped>
.flight-list-item {
  height: 88px;
  margin-bottom: 2px;
  background: #fff;
  padding: 0 30px;
  &:hover {
    box-shadow: 0 4px 15px rgb(0 0 0 / 18%);
    z-index: 3;
  }
  .list-item {
    &--icon {
      width: 40px;
      height: 35px;
      background: red;
      margin-right: 10px;
      background: url('../../../assets/airport.png');
      background-size: 100%;
    }
    &--info {
      margin: 0 10px;
      line-height: 24px;
      &__name {
        width: 220px;
        font-size: 14px;
      }
      &__number {
        font-size: 12px;
        color: #409eff;
      }
    }
    &--airline {
      .airline {
        &-start, &-end {
          width: 140px;
          &__time {
            font-size: 30px;
            line-height: 32px;
          }
          &__airport {
            font-size: 12px;
            line-height: 14px;
          }
        }
        &-divider {
          width: 140px;
          &__duration {
            font-size: 12px;
          }
        }
      }
    }
    &--price {
      width: 150px;
      margin: 0 20px;
      &__first {
        font-size: 30px;
        color: #409eff;
      }
      &__rmb {
        font-size: 18px;
      }
      &__economic {
        font-size: 12px;
        color: #919ca2;
      }
    }
  }
}

</style>