<template>
  <el-pagination
    :hideOnSinglePage="total < 1"
    :background="background"
    :total="total"
    :pageSizes="pageSizes"
    :pageSize="pageSize"
    :currentPage="currentPage"
    :layout="layout"
    @sizeChange="handleSizeChange"
    @currentChange="handleCurrentChange"
  ></el-pagination>
</template>

<script>
import { nextTick } from "vue";
export default {
  name: "Pagination",
  props: {
    hidden: {
      type: Boolean,
      default: false
    },
    background: {
      type: Boolean,
      default: true
    },
    total: {
      type: Number,
      default: 0
    },
    pageSizes: {
      type: Array,
      default: () => [10, 20, 50, 100]
    },
    pageSize: {
      type: Number,
      default: 10
    },
    currentPage: {
      type: Number,
      default: 1
    },
    layout: {
      type: String,
      default: "total, sizes, prev, pager, next, jumper"
    }
  },
  setup(_, ctx) {
    let isChangeSize = false;
    const handleSizeChange = val => {
      isChangeSize = true;
      ctx.emit("update:pageSize", val);
      ctx.emit("update:currentPage", 1);
      ctx.emit("pagination-change");
      nextTick(() => (isChangeSize = false));
    };

    const handleCurrentChange = val => {
      if (isChangeSize) return;
      ctx.emit("update:currentPage", val);
      ctx.emit("pagination-change");
    };

    return {
      handleSizeChange,
      handleCurrentChange
    };
  }
};
</script>

<style lamg="scss" scoped></style>
