<template>
  <div class="df fd-c">
    <el-button
      class="address-add mb5"
      size="mini"
      type="primary"
      @click="handleClick"
      >Add address</el-button
    >
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="addrCountry" label="Country" width="150"> </el-table-column>
      <el-table-column prop="addrState" label="State"> </el-table-column>
      <el-table-column prop="addrCity" label="City"> </el-table-column>
      <el-table-column prop="postalCode" label="postalCode" width="100"> </el-table-column>
      <el-table-column prop="addrDetail" label="Detailed address" width="200"> 
      <template #default="{row}">
        <div class="df fd-c">
          <p>
            detailed-1:<small class="text-info">{{row.addrDetail}}</small>
          </p>
          <p>
            detailed-2:<small class="text-info">{{row.addrArea}}</small>
          </p>
          
        </div>
      </template>
      </el-table-column>
      <el-table-column label="operate" width="140">
        <template #default="scope">
          <el-button type="text" @click="handleClick(scope.row)" size="small"
            >edit</el-button
          >
          <el-button type="text" class="text-danger" size="small" @click="onDelete(scope.row)">delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="Add/Edit" v-model="dialogVisible" width="500px">
      <el-form
        :model="form"
        ref="formDom"
        :rules="rules"
        label-width="120px"
        :inline="false"
        size="mini"
      >
        <el-form-item label="postalCode" prop="postalCode">
          <el-input v-model="form.postalCode"></el-input>
        </el-form-item>
        <el-form-item label="Address" prop="area">
         <el-input class="mt5" v-model="form.area[0]" placeholder="Please enter a country" clearable></el-input>
      <el-input class="mt5" v-model="form.area[1]" placeholder="Please enter the state" clearable></el-input>
      <el-input class="mt5" v-model="form.area[2]" placeholder="Please enter the city" clearable></el-input>
        </el-form-item>
        <el-form-item label="Detailed-1">
          <el-input type="textarea" v-model="form.addrDetail"></el-input>
        </el-form-item>
        <el-form-item label="Detailed-2">
          <el-input type="textarea" v-model="form.addrArea"></el-input>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button size="mini" @click="dialogVisible = false">cancel</el-button>
          <el-button size="mini" type="primary" @click="onSave">confirm</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { reactive, toRefs, inject, onMounted, ref } from "vue";
import { ElMessage, ElMessageBox } from "element-plus";
import { tools } from '../../utils';
export default {
  setup() {
    const $http = inject("http");
    const { customerId } = tools.getUserInfo()
    const state = reactive({
      dialogVisible: false,
      tableData: [
      ],
      rules:{
          area:[
          { required: true, message: "please input address", trigger: "blur" }
          ],
          postalCode:[
          { required: true, message: "please input postalCode", trigger: "blur" }
          ]
      },
      form: {
        phone: "",
        area: [],
        address: "",
        postCode: ""
      }
    });
    const handleClick = (row={}) => {
      state.form = { ...row };
      state.form.area = [row.addrCountry,row.addrState,row.addrCity]
      state.dialogVisible = true;
    };
    const formDom = ref(null);
    const onSave = () => {
      formDom.value.validate(async (valid) => {
        if (valid) {
          const [addrCountry,addrState,addrCity] = state.form.area
          delete state.form.area
          await $http[state.form.addressId?'UPDATE_ADDRESS':'INSERT_ADDRESS']({addrCountry,addrState,addrCity,...state.form,customerId});
          ElMessage({
            type: "success",
            message: "Successful operation",
            duration: 800,
            onClose() {
              getData();
            }
          });
          state.dialogVisible = false;
        }
      });
    };

    const getData = (params = {}) => {
      $http.QUERY_ADDRESS({ customerId }).then((res) => {
        state.tableData = res
      });
    };
    const onDelete = ({addressId})=>{
      tools.confirmDialog($http.DROP_ADDRESS,{addressId},getData)
    }
    onMounted(() => {
      getData();
    });

    return {
      formDom,
      ...toRefs(state),
      handleClick,
      onDelete,
      onSave
    };
  }
};
</script>

<style lang="scss" scoped>
.address- {
  &add {
    width: 120px;
  }
}
</style>
