<template>
  <div class="df fd-c">
    <el-button
      class="address-add mb5"
      size="mini"
      type="primary"
      @click="handleClick"
      >Add a credit card</el-button
    >
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="bank" label="Name"> </el-table-column>
      <el-table-column prop="addrDetail" label="Card address" width="150"> </el-table-column>
      <el-table-column prop="cardNumber" label="Card number">
      </el-table-column>
      <el-table-column label="expire date"> 
        <template #default="{row}">
          <time datetime="">{{formatDate(row.expiration)}}</time>
        </template>
      </el-table-column>
      <el-table-column label="operate" width="140">
        <template #default="scope">
          <el-button type="text" @click="handleClick(scope.row)" size="small"
            >edit</el-button
          >
          <el-button type="text" class="text-danger" size="small" @click="onDelete(scope.row)">delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="Add/Edit" v-model="dialogVisible" width="550px">
      <el-form
        :model="form"
        ref="formDom"
        :rules="rules"
        label-width="120px"
        :inline="false"
        size="mini"
      >
        <el-form-item label="Name" prop="bank">
          <el-input v-model="form.bank"></el-input>
        </el-form-item>
        <el-form-item label="Card name" prop="name">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="Card number" prop="cardNumber">
          <el-input type="number" :maxlength='16' v-model="form.cardNumber"></el-input>
        </el-form-item>
        <el-form-item label="CvcCode" prop="cvcCode">
          <el-input type="number" :minlength='4' :maxlength='4' v-model="form.cvcCode"></el-input>
        </el-form-item>
        <el-form-item label="Expire date" prop="expiration">
          <el-date-picker
            v-model="form.expiration"
            type="date"
            placeholder="Select expiration time"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Select address" prop="addressId">
          <el-select
            class="card-address"
            v-model="form.addressId"
            placeholder="Please select the binding address"
          >
            <el-option
              v-for="(item, index) in addresses"
              :key="index"
              :label="item.addrDetail"
              :value="item.addressId"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button size="mini" @click="dialogVisible = false">cancel</el-button>
          <el-button size="mini" type="primary" @click="onSave"
            >confirm</el-button
          >
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { reactive, toRefs, inject, onMounted } from "vue";
import { tools, formatDate } from "../../utils";
import { ElMessage, ElMessageBox } from 'element-plus';
export default {
  setup() {
    const $http = inject("http");
    const { customerId } = tools.getUserInfo();
    const state = reactive({
      dialogVisible: false,
      tableData: [],
      form: {
        name:'',
        cardNumber:'',
        bank: "",
        cvcCode: "",
        expiration: "",
        addressId: ""
      },
      rules:{
        cvcCode:[{ required: true, message: "Please fill in the 4-digit password of the back", trigger: "blur" },],
        name:[{ required: true, message: "Please fill in the card name", trigger: "blur" },],
        expiration:[{ required: true, message: "Please select expiration time", trigger: "blur" },],
        cardNumber:[{ required: true, message: "Please fill in the bank card number", trigger: "blur" },],
        addressId:[{ required: true, message: "Please select the binding address", trigger: "blur" },],
          bank:[
          { required: true, message: "Please fill in the belongings", trigger: "blur" }
          ]
      },
      addresses: []
    });
    function queryAddress() {
      $http.QUERY_ADDRESS({ customerId }).then((res) => {
        state.addresses = res;
      });
    }
    function handleClick(row) {
      state.form = { ...row };
      row.addrid && (state.form.addressId = parseInt(row.addrid))
      state.dialogVisible = true;
    }
    async function getData(params = {}) {
      const res = await $http.QUERY_CREDIT_CARD({ customerId });
      state.tableData = res
    }
    async function onSave(params={}){
      state.form.customerId = customerId
      const res = await $http[state.form.creditCardId?'UPDATE_CREDIT_CARD':'INSERT_CREDIT_CARD'](state.form)
      ElMessage({
          type: "success",
            duration:800,
          message: "Successful operation!",
          onClose() {
            getData();
          }
        });
        state.dialogVisible = false
    }

    const onDelete = ({creditCardId})=>{
      tools.confirmDialog($http.DROP_CREDIT_CARD,{creditCardId},getData)
    }
    onMounted(() => {
      getData();
      queryAddress();
    });

    return {
      ...toRefs(state),
      handleClick,
      onSave,
      onDelete,
      formatDate,
      formatCardNum:tools.formatBankCard
    };
  }
};
</script>

<style lang="scss" scoped>
:deep(.el-input){
  width: 100%;
}
.address- {
  &add {
    width: 120px;
  }
}
.card- {
  &address {
    width: 100%;
  }
}
</style>
