<template>
    <rail class="container" :showLeft="true"/>
  <div class="user-airWrap pt10">
    <header class="airport-header df fjc-sp">
      <section class="airport-bg"></section>
      <section class="airport-logo flex-4 df fjc-c fai-c"></section>
      <section class="flex-6"></section>
    </header>
    <section class="user-content df">
      <aside class="user-aside mr30">
        <el-menu
          :default-active="activeComp"
          class="el-menu-vertical-demo"
          unique-opened
          @select="selectMenu"
        >
          <el-menu-item index="info">
            <i class="el-icon-s-opportunity"></i>
            <template #title>Personal information</template>
          </el-menu-item>
          <el-menu-item index="order">
            <i class="el-icon-s-order"></i>
            <template #title>My Order</template>
          </el-menu-item>
          <el-submenu index="1">
            <template #title>
              <i class="el-icon-s-custom"></i>
              <span>Personal center</span>
            </template>
            <el-menu-item index="passenger">Passenger information</el-menu-item>
            <el-menu-item index="userInfo">Personal information</el-menu-item>
          </el-submenu>
          <el-submenu index="2">
            <template #title>
              <i class="el-icon-info"></i>
              <span>General information</span>
            </template>
            <el-menu-item index="Address">Address information</el-menu-item>
            <el-menu-item index="creditCard">Credit card information</el-menu-item>
          </el-submenu>
        </el-menu>
      </aside>
    <section class="user-main flex-1">
      <component :is="activeComp" />
    </section>
    </section>
  </div>
</template>

<script>
import userInfo from './userInfo.vue'
import Address from './address.vue'
import creditCard from './creditCard.vue'
import order from './order.vue'
import passenger from './passenger.vue'
import info from './info.vue'
import { reactive, toRefs, inject } from 'vue';
import { useRoute, onBeforeRouteUpdate } from "vue-router";
import { tools } from '../../utils'
export default {
  components:{
    userInfo,
    Address,
    creditCard,
    order,
    passenger,
    info
  },
  setup() {
    
    const { query: { type } } = useRoute();
    const {customerId} = tools.getUserInfo()
    const state = reactive({
      activeComp: type ? type : 'info'
    })
    const methods = {
      selectMenu(path){
        state.activeComp = path
      }
    }
    onBeforeRouteUpdate(({query:{type}})=>{
      state.activeComp = type
    })
    return {
      ...toRefs(state),
      ...methods
    };
  }
};
</script>

<style lang="scss" scoped>
.user- {
  &content {
    width: 1024px;
    margin: auto;
    min-height: 600px;
  }
  &aside {
    width: 220px;
    overflow: hidden;
  }
}
</style>
