<template>
  <div>
    <el-card shadow="never" :body-style="{ padding: '20px' }">
      <template #header>
        <strong><small>My Order</small></strong>
      </template>
      <section class="order-panel fs14 df fd-c">
        <section v-for="(item, index) in orderList.slice(0,3)" :key="index" class="order-row flex-1 df fai-fs mb10">
          <section class="air-name flex-1">{{item.airlineName}}</section>
          <section class="air-plane df fd-c flex-3 pl5">
            <span>{{item.departureCity}} - {{item.destinationCity}}</span>
            <span class="text-info fs12 mt5">Booking time：<time datetime="2020-10-05 12:22:45" >{{formatDate(item.destinationTime,'yyyy-MM-dd hh:mm:ss')}}</time></span>
          </section>
          <section class="air-price flex-1 pl5">${{item.priceSum}}</section>
          <section class="air-handle flex-1 pl5">
            <el-button type="text" class="text-primary" @click="toOrderInfo(item.bookingId)" size="mini">details</el-button>
          </section>
        </section>
      </section>
    </el-card>
    <section class="mt20 df w100">
    <el-card shadow="never" class="order-mileage" :body-style="{ padding: '20px' }">
     <template #header>
       <strong class="fs14">
         My mileage
       </strong>
     </template>
        <div class="df fjc-sb fai-c">
          <span class="fs28 text-danger">{{mileage}}</span>
          <el-popover v-if="mileageOrder.length !== 0" placement="bottom-end" :width="300" trigger="click" :offset="-8" :show-arrow="false" >
            <template v-if="mileageOrder.length">
              <div v-for="t in mileageOrder" :key="t" class="mileage df fjc-sb fai-c pa10">
                <div class="mileage-title">
                  <p class="fs16">{{t.departureCity}}-{{t.destinationCity}}</p>
                  <span class="fs14 mt5">CA4342</span>
                </div>
                <span class="mileage-num fs16 text-danger">{{t.mileageSum}}</span>
              </div>
              <p class="df fjc-fe"><el-button type="text" size="mini" @click="toOrder">more</el-button></p>
            </template>
            <template #reference>
              <el-button type="text"><i class="el-icon-arrow-down" /></el-button>
            </template>
          </el-popover>
        </div>
    </el-card>
    <el-card shadow="never" class="ml30 flex-1" :body-style="{ padding: '20px' }">
     <template #header>
       <strong class="fs14">
         Common passenger information
       </strong>
     </template>
     <section class="df fd-c">
       <p v-for="(item, index) in passengers" :key="index" class="df fjc-sb fai-c text-info fs13">
         <span>{{item.passengerName}}</span>
         <span>{{plusXing(item.certificateNum,6,4)}}</span>
       </p>
     </section>
    </el-card>
    </section>
  </div>
</template>

<script>
import { tools, formatDate } from '../../utils'
import { inject, ref } from 'vue'
export default {
  setup () {
    const $http = inject('http')
    const {customerId} = tools.getUserInfo()
    function toOrderInfo(id){
      tools.routerPush(`/order/${id}`)
    }
    function toOrder(){
      tools.routerPush('/user?type=order')
    }
    const orderList = ref([])
    
    const mileageOrder = ref([])
    const sumOrder = ref(0)
    $http.QUERY_ORDER_SELF({customerId,status:2,pageNum:1,pageSize:3}).then(res=>{
      orderList.value = res.list
      sumOrder.value = res.total
      mileageOrder.value = orderList.value.filter(item=>item.state===2)
    })
    let passengers = ref([])
    $http.QUERY_EC({customerId,pageNum:1,pageSize:3}).then(res=>{
      passengers.value = res
    })

    const {mileageNum:mileage} = tools.getUserInfo()
    return {
      toOrderInfo,
      orderList,
      passengers,
      plusXing:tools.plusXing,
      formatDate,
      mileage,
      mileageOrder,
      toOrder,
      sumOrder
    }
  }
}
</script>

<style lang="scss" scoped>

.order-{
  &panel{
    max-height: 600px;
  }
  &mileage{
    width: 300px;
  }
}
.mileage + .mileage {
  border-top: 1px solid #eee;
}
</style>