<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="All orders" name="all"></el-tab-pane>
      <el-tab-pane label="Valid order" name="open"></el-tab-pane>
      <el-tab-pane label="Refund order" name="refund"></el-tab-pane>
    </el-tabs>
    <el-empty class="mt10" v-if="orders.length === 0 && !loading" description="no content yet"></el-empty>

      <section class="order-wrap" v-infinite-scroll="getData">

    <el-card
      v-for="(item, index) in orders"
      :key="index"
      shadow="never"
      class="mb10"
      :body-style="{ padding: '20px' }"
    >
      <template #header>
        <strong class="fs12">Air tickets</strong>
        <small class="ml20 mr10">{{ item.bookingNumber }}</small
        >|<time class="fs12 text-info pl10" :datetime="formatDate(item.createDate)">{{
          formatDate(item.createDate, "yyyy-MM-dd hh:mm:ss")
        }}</time>
      </template>
      <section class="order-row df w100">
        <section class="order-main w100 df">
          <section class="df fd-c flex-3 mr10">
            <strong class="fs12 felx-1 mb5 pb5 br-b"
              >{{ item.departureCity }} <i class="el-icon-right text-primary"></i>
              {{ item.destinationCity }}</strong
            >
            <section class="df flex-1 fs12">
              <section class="df fd-c">
                <span>{{ item.departureName }}</span>
                <time datetime="2020-10-17 19:50:00">{{
                  formatDate(item.departureTime, "yyyy-MM-dd hh:mm:ss")
                }}</time>
                <span class="mt15">{{ item.destinationName }}</span>
                <time datetime="2020-10-17 22:05:00">{{
                  formatDate(item.destinationTime, "yyyy-MM-dd hh:mm:ss")
                }}</time>
              </section>
            </section>
          </section>
          <span class="flex-1">{{ item.flightNumber }}</span>
          <section class="fs14 flex-1">
            ¥{{ item.price }} × {{ item.ticketSum }}
          </section>
          <section class="order-price text-danger flex-1">
            <strong>¥{{ item.priceSum }}</strong>
          </section>
          <section class="order-price df fd-c flex-1">
            <small>Mileage</small>
            <strong class="fs18 text-primary">{{ item.mileageSum||'-' }}</strong>
          </section>
          <template v-if="item.state === 3">
            <section class="order-price flex-1 df fd-c">
              <span class="fs12 text-info">Refund amount</span>
              <strong class="text-danger">¥{{ item.priceSum }}</strong>
            </section>
            <section class="text-info fs12 flex-1 df fd-c">
              <span>Refill time</span>
              <time class="text-danger" datetime="2020-10-17 07:25:34">{{
                formatDate(item.updateDate, "yyyy-MM-dd hh:mm:ss")
              }}</time>
            </section>
          </template>
          <section v-else-if="item.state !== 3" class="text-info fs12 flex-1">
            {{ formatState(item.state) }}
          </section>
          <section class="flex-1">
            <span class="fs12 text-primary pointer" @click="onDetail(item.bookingId)">
              details
            </span>
            <el-button v-if="item.state === 1" type="text" size="mini" @click="onRefund(item)"
              >refund</el-button
            >
          </section>
        </section>
      </section>
    </el-card>
      <footer class="df fjc-c text-info">
        <small v-if="loading">Loading... <div class="i el-icon-loading"></div></small>
        <small v-if="!loading && noMore">No more...</small>
      </footer>
      </section>
    <el-dialog title="Refillment operation" v-model="showRefund" width="40%">
      <el-form
        :model="form"
        ref="formDom"
        label-width="120px"
        :inline="false"
        size="mini"
        v-if="info"
      >
        <el-card shadow="never" :body-style="{ padding: '20px' }">
            <span class="mb10">Passenger information</span>
          <section class="df fd-c">
            <el-table :data="info.certificateList" style="width: 100%">
              <el-table-column prop="passengerName" label="Name"> </el-table-column>
              <el-table-column prop="passengersTelephone" label="phone"> </el-table-column>
              <el-table-column prop="certificateNum" label="ID card"> </el-table-column>
            </el-table>
          </section>
        </el-card>
      <el-card shadow="never" class="mt10" :body-style="{ padding: '20px' }">
          <span class="mb10">other information</span>
        <el-form-item label="order number">
          <span>{{ info.bookingNumber }}</span>
        </el-form-item>
        <el-form-item label="Landing airport">
          <span>{{ info.departureName }} - {{info.destinationName}}</span>
        </el-form-item>
        <el-form-item label="Landing time">
          <span
            >{{ formatDate(info.departureTime, "yyyy-MM-dd hh:mm:ss") }} -
            {{ formatDate(info.destinationTime, "yyyy-MM-dd hh:mm:ss") }}</span
          >
        </el-form-item>
        <el-form-item label="The amount should be returned">
          <strong class="fs16 text-danger">${{ info.priceSum }}</strong>
        </el-form-item>
      </el-card>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button size="mini" @click="dialogVisible = false">cancel</el-button>
          <el-button size="mini" type="primary" @click="onSave">confirm</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { reactive, toRefs, inject, ref } from "vue";
import { tools, formatDate } from "../../utils";
import { ElMessage } from "element-plus";
export default {
  setup() {
    const $http = inject("http");
    const { customerId } = tools.getUserInfo();
    const state = reactive({
      queryForm: null,
      form: {
        remark: ""
      },
      activeName: "all",
      showRefund: false,
      loading:false,
      noMore:false,
      paging:{pageNum:0,pageSize:5}
    });
    function handleClick({ props: { name } }) {
      orders.value = []
      state.noMore = false
      state.paging.pageNum=0
      const map = { open: 2, refund: 3 };
      getData({ status: map[name] });
      state.activeName = name;
    }
    let info = ref(null);
    function onRefund(data) {
      info.value = data;
      state.showRefund = true;
    }
    async function onSave() {
      await $http.REFUND_TICKET({ bookId: info.value.bookingId });
      ElMessage({
        type: "success",
        duration: 800,
        message: "Successful operation!",
        onClose() {
          getData();
        }
      });
      state.showRefund = false;
    }
    function onDetail(id) {
      tools.routerPush(`/order/${id}`);
    }
    const orders = ref([]);
    async function getData(params = {}) {
      if(state.noMore) return
      state.paging.pageNum++
      Object.assign(params,state.paging)
      state.loading = true
      const res = await $http.QUERY_ORDER_SELF({ customerId, ...params });
      setTimeout(() => {
        state.loading = false
        res.list.forEach(item=>{
          orders.value.push(item)
        })
      state.noMore = orders.value.length>=res.total
      }, 500);
    }
    function formatState(state) {
      return { 1: "Paid", 2: "completed", 3: "Cancelled" }[state];
    }
    getData();
    return {
      ...toRefs(state),
      handleClick,
      onRefund,
      onDetail,
      orders,
      formatDate,
      formatState,
      info,
      onSave,
      getData
    };
  }
};
</script>

<style lang="scss" scoped></style>
