<template>
  <div class="df fd-c">
    <el-button
      class="address-add mb5"
      size="mini"
      type="primary"
      @click="handleClick"
      >Add a passenger</el-button
    >
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="passengerName" label="Passenger name"> </el-table-column>
      <el-table-column prop="certificateNum" label="Certificate"> </el-table-column>
      <el-table-column prop="passengersTelephone" label="Telephone"> </el-table-column>
      <el-table-column label="operate" width="140">
        <template #default="scope">
          <el-button type="text" @click="handleClick(scope.row)" size="small"
            >edit</el-button
          >
          <el-button type="text" class="text-danger" size="small" @click="onDelete(scope.row)">delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="Add/Edit" v-model="dialogVisible" width="500px">
      <el-form
        :model="form"
        ref="formDom"
        :rules="rules"
        label-width="90px"
        :inline="false"
        size="mini"
      >
        <el-form-item label="Name" prop="passengerName">
          <el-input  v-model="form.passengerName"></el-input>
        </el-form-item>
        <el-form-item label="Certificate" prop="certificateNum">
          <el-input  v-model="form.certificateNum"></el-input>
        </el-form-item>
        <el-form-item label="Telephone" prop="passengersTelephone">
          <el-input  v-model="form.passengersTelephone"></el-input>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button size="mini" @click="dialogVisible = false">cancel</el-button>
          <el-button size="mini" type="primary" @click="onSave">confirm</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { reactive, toRefs, inject, onMounted, ref } from "vue";
import { ElMessage, ElMessageBox } from "element-plus";
import { tools } from '../../utils';
export default {
  setup() {
    const $http = inject("http");
    const { customerId } = tools.getUserInfo()
    const state = reactive({
      dialogVisible: false,
      tableData: [
      ],
      rules:{
        passengerName:[
          { required: true, message: "Please fill in the passenger name", trigger: "blur" },],
        passengersTelephone:[
          { required: true, message: "Please fill in the phone", trigger: "blur" },],
          certificateNum:[
          { required: true, message: "Please fill in the ID card number", trigger: "blur" },
          { required: true, pattern:/^([1-6][1-9]|50)\d{4}(18|19|20)\d{2}((0[1-9])|10|11|12)(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/,message: "ID card is not filled or format error", trigger: "blur" }
          ]
      },
      form: {
        passengerName: "",
        certificateNum: "",
        passengersTelephone: ""
      }
    });
    const handleClick = (row={}) => {
      state.form = { ...row };
      state.dialogVisible = true;
    };
    const formDom = ref(null);
    const onSave = () => {
      formDom.value.validate(async (valid) => {
        if (valid) {
          await $http[state.form.certificateId?'UPDATE_EC':'INSERT_EC']({customerId,...state.form});
          ElMessage({
            type: "success",
            message: "Successful operation!",
            duration: 800,
            onClose() {
              getData();
            }
          });
          state.dialogVisible = false;
        }
      });
    };

    const getData = (params = {}) => {
      $http.QUERY_EC({ customerId }).then((res) => {
        state.tableData = res
      });
    };
    const onDelete = ({certificateId})=>{
      tools.confirmDialog($http.DROP_EC,{certificateId},getData)
    }
    onMounted(() => {
      getData();
    });

    return {
      formDom,
      ...toRefs(state),
      handleClick,
      onDelete,
      onSave
    };
  }
};
</script>

<style lang="scss" scoped>
.address- {
  &add {
    width: 120px;
  }
}
</style>
