<template>
  <div>
    <el-form ref="formDom" size="mini" :model="form" label-width="180px">
      <el-form-item label="Email">
        <span>{{ u.email }}</span>
      </el-form-item>
      <el-form-item label="Name">
        <span v-if="!isEdit">{{ emptyVal(u.portrait) }}</span>
        <el-input v-else v-model="form.portrait"></el-input>
      </el-form-item>
      <el-form-item label="Gender">
        <span v-if="!isEdit">{{ emptyVal(['',"Male", "Female"][u.sex]) }}</span>
        <el-radio-group v-else v-model="form.sex">
          <el-radio :label="1" value="male">Male</el-radio>
          <el-radio :label="2" value="Female">Female</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="Address">
        <span v-if="!isEdit">{{
          u.country ? `${u.country} ${u.state} ${u.city}` : "Not set"
        }}</span>
        <template v-else>
         <el-input class="mt5" v-model="form.country" placeholder="Please enter a country" clearable></el-input>
      <el-input class="mt5" v-model="form.state" placeholder="Please enter the province" clearable></el-input>
      <el-input class="mt5" v-model="form.city" placeholder="Please enter the city" clearable></el-input>
        </template>
      </el-form-item>
      <el-form-item label="Home Airport">
        <span v-if="!isEdit">{{ airportAdr }}</span>
        <el-select v-else v-model="form.airportId" placeholder="please choose">
          <el-option
            v-for="item in airports"
            :key="item.airportId"
            :label="item.airportName"
            :value="item.airportId"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button v-if="!isEdit" type="danger" @click="onEdit">edit</el-button>
        <el-button v-else type="primary" @click="onSubmit">confirm</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { reactive, toRefs, inject, ref, computed } from "vue";
import { useStore } from "vuex";
export default {
  name: "userInfo",
  setup() {
    const store = useStore();
    const api = inject("http");
    const state = reactive({
      isEdit: false,
      form: {
        portrait: "",
        sex: 1,
      }
    });
    const u = JSON.parse(sessionStorage.userInfo || "{}");
    const methods = {
      onEdit() {
        state.form = u;
        state.isEdit = true;
      }
    };
    const emptyVal = (v) => {
      return v || "Not set";
    };
    api.QUERY_AIRPORT_LIST().then((res) => {
      airports.value = res.list;
    });
    const airportAdr = computed(() => {
      if (!airports || !u) return "Not set";
      const airposts = airports.value.filter((item) => item.airportId === state.form.airportId|| item.airportId ===u.airportId)[0];
      return (airposts && airposts.airportName) || "Not set";
    });
    const airports = ref([]);
    const onSubmit = () => {
      const params = { customerId: u.customerId, ...state.form }
      api.updateUserInfo(params).then((res) => {
        store.dispatch("setUserInfo", params)
        sessionStorage.userInfo = JSON.stringify(params)
        state.isEdit = false
      });
    };
    return {
      ...toRefs(state),
      emptyVal,
      ...methods,
      airports,
      onSubmit,
      airportAdr,
      u
    };
  }
};
</script>

<style lang="scss" scoped></style>
